@page "/customer-reservations"
@page "/customer-reservations/{CUSTOMER_RESERVATION_ID}"
@page "/customer-reservations/{Action}/{CUSTOMER_RESERVATION_ID}"
@attribute [Authorize(Roles = "Administrador,Consulta de reservas,Modificación de reservas")]
@using Aldebaran.Web.Resources.LocalizedControls;
@using ServiceModel = Aldebaran.Application.Services.Models;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer

<PageTitle>Reserva de artículos</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenStack>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12">
                <RadzenText Text="Reserva de artículos" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
            </RadzenColumn>
            <RadzenColumn Size="12" SizeMD="6">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                    <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddButtonClick" Variant="Variant.Flat" Visible="@Security.IsInRole("Administrador","Modificación de reservas")" />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        <RadzenRow>
            <RadzenColumn SizeMD=12>
                <LocalizedDataGrid Count="@count" LoadData="@LoadData" @ref="CustomerReservationGrid" ColumnWidth="200px" AllowPaging="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                   ExpandMode="DataGridExpandMode.Single" Data="@customerReservations" TItem="Aldebaran.Application.Services.Models.CustomerReservation" RowExpand=@GetChildData IsLoading="@isLoadingInProgress">
                    <Columns>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="ReservationNumber" Title="No. reserva">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="Customer.CustomerName" Title="Cliente">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="ReservationDate" Title="Fecha reserva">
                            <Template Context="customerReservation">
                                <span>@customerReservation.ReservationDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="ExpirationDate" Title="Fecha expiración">
                            <Template Context="customerReservation">
                                <span>@customerReservation.ExpirationDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="StatusDocumentType.StatusDocumentTypeName" Title="Estado">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="Notes" Title="Notas" Visible="false">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Filterable="false" Sortable="false" Width="164px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                            <Template Context="customerReservation">
                                <RadzenButton Icon="assignment_turned_in" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click="@(args => SendToCustomerOrder(customerReservation))" @onclick:stopPropagation="true"
                                              Visible="@CanSendToCustomerOrder(customerReservation).Result" MouseEnter="@(args => ShowTooltip(args,"Enviar a pedido", new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                </RadzenButton>
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click="@(args => EditRow(customerReservation))" @onclick:stopPropagation="true"
                                              Visible="@CanEdit(customerReservation).Result" MouseEnter="@(args => ShowTooltip(args,"Editar", new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                              Shade="Shade.Lighter" Variant="Variant.Flat" Visible="@CanEdit(customerReservation).Result"
                                              Click=@(args => CancelCustomerReservation(args, customerReservation)) @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Cancelar", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                                <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="file_download" Size="ButtonSize.Medium"
                                              Shade="Shade.Lighter" Variant="Variant.Flat" Click="@(args => DownloadAsync(args, customerReservation))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Descargar", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                    <Template Context="customerReservation">
                        <RadzenStack Class="rz-my-8">
                            <RadzenTabs Visible="@(customerReservation != null)">
                                <Tabs>
                                    <RadzenTabsItem Text="Referencias">
                                        <LocalizedDataGrid ColumnWidth="200px" Visible="@(customerReservation != null)" @ref=CustomerReservationDetailsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                           ExpandMode="DataGridExpandMode.Single" Data="@customerReservation?.CustomerReservationDetails" TItem="Aldebaran.Application.Services.Models.CustomerReservationDetail">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationDetail" Title="Referencia">
                                                    <Template Context="detail">
                                                        <RadzenLabel MouseEnter="@(args => ShowTooltip(args,GetReferenceHint(@detail.ItemReference).Result, new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                                            [@detail.ItemReference.Item.InternalReference] (@detail.ItemReference.Item.Line.LineName) @detail.ItemReference.Item.ItemName - @detail.ItemReference.ReferenceName
                                                        </RadzenLabel>
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationDetail" Title="Cantidad">
                                                    <Template Context="detail">
                                                        @detail.ReservedQuantity.ToString("N0")
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationDetail" Property="SendToCustomerOrder" Title="Agregar al pedido" Visible="false">
                                                    <Template Context="detail">
                                                        <RadzenCheckBox @bind-Value="@detail.SendToCustomerOrder" Name="SEND_TO_CUSTOMER_ORDER" Disabled="true"></RadzenCheckBox>
                                                    </Template>
                                                </RadzenDataGridColumn>
                                            </Columns>
                                        </LocalizedDataGrid>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="Alarmas">
                                        <RadzenStack>
                                            <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                                <RadzenColumn Size="12">
                                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                                        <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddAlarmButtonClick" Variant="Variant.Flat"
                                                                      Visible="@CanEdit(customerReservation).Result" />
                                                    </RadzenStack>
                                                </RadzenColumn>
                                            </RadzenRow>
                                            <LocalizedDataGrid ColumnWidth="200px" Visible="@(customerReservation != null)" @ref=alarmsGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                               ExpandMode="DataGridExpandMode.Single" Data="@alarms" TItem="Aldebaran.Application.Services.Models.Alarm">
                                                <Columns>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Alarm" Property="CreationDate" Title="Fecha creación" Width="40%">
                                                        <Template Context="alarm">
                                                            <span>@alarm.CreationDate.ToString(SharedLocalizer["date:format"])</span>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Alarm" Property="ExecutionDate" Title="Fecha activación" Width="40%">
                                                        <Template Context="alarm">
                                                            <span>@alarm.ExecutionDate.ToString(SharedLocalizer["date:format"])</span>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Alarm" Property="AlarmMessage.Message" Title="Mensaje" Width="100%"></RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Alarm" Property="IsActive" Title="Estado" Width="20%">
                                                        <Template Context="alarm">
                                                            @if (alarm.IsActive)
                                                            {
                                                                <span>Activa</span>
                                                            }
                                                            else
                                                            {
                                                                <span>Inactiva</span>
                                                            }
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Alarm" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                                                        <Template Context="alarm">
                                                            <RadzenButton Icon="assignment_turned_in" ButtonStyle="ButtonStyle.Light" Visible="@CanEditAlarm(alarm.IsActive, customerReservation.StatusDocumentType.StatusOrder).Result" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => DisableAlarm(alarm))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Desactivar alarma", new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                                            </RadzenButton>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                </Columns>
                                            </LocalizedDataGrid>
                                        </RadzenStack>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="Notificaciones generadas al cliente">
                                        <RadzenStack>
                                            <LocalizedDataGrid Visible="@(customerReservation != null)" @ref=CustomerReservationNotificationsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                               Data="@customerReservation?.CustomerReservationNotifications" TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification">
                                                <Columns>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification" Title="Fecha notificación" Width="70%">
                                                        <Template Context="notification">
                                                            <span>@notification.NotificationDate.ToString(SharedLocalizer["date:format"])</span>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification" Property="NotificationTemplate.Name" Title="Motivo" Width="100%">
                                                        <Template Context="notification">
                                                            @{
                                                                var notificationTemplateName = $"{notification.NotificationTemplate.Subject.Split(':')[0]}";
                                                            }
                                                            <span>@notificationTemplateName</span>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification" Property="CustomerReservation.Customer.CustomerName" Title="Cliente" Width="100%"></RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification" Title="Correo(s) Notificado(s)" Width="100%">
                                                        <Template Context="notification">
                                                            <ul style="list-style:none">
                                                                @foreach (string mail in notification.NotifiedMailList.Split(';'))
                                                                {
                                                                    <li>@mail</li>
                                                                }
                                                            </ul>
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification" Title="Estado notificación" Width="70%">
                                                        <Template Context="notification">
                                                            @switch (notification.NotificationState)
                                                            {
                                                                case ServiceModel.NotificationStatus.Success:
                                                                    <span>Enviada</span>
                                                                    return;
                                                                case ServiceModel.NotificationStatus.Error:
                                                                    <span>Error</span>
                                                                    return;
                                                                case ServiceModel.NotificationStatus.InProcess:
                                                                    <span>En proceso</span>
                                                                    return;
                                                                case ServiceModel.NotificationStatus.Pending:
                                                                    <span>Pendiente</span>
                                                                    return;
                                                                case ServiceModel.NotificationStatus.ReSend:
                                                                    <span>Reenviada</span>
                                                                    return;
                                                            }
                                                        </Template>
                                                    </RadzenDataGridColumn>
                                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservationNotification" Property="NotificationSendingErrorMessage" Title="Error notificación" Width="100%"></RadzenDataGridColumn>
                                                </Columns>
                                            </LocalizedDataGrid>
                                        </RadzenStack>
                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        </RadzenStack>
                    </Template>
                </LocalizedDataGrid>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}