@page "/report/inventory-adjustments"
@inject Aldebaran.Web.Resources.ISharedStringLocalizer SharedLocalizer

<RadzenStack Style="gap:0.3em">
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenText Text="Reporte de ajustes de inventario" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start" class="mb-2">
        <RadzenColumn Size="6">
            <div class="rz-text-align-left d-flex gap-3">
                <RadzenButton Variant="Variant.Text" Icon="filter_alt" Click="@OpenFilters" Text="Filtros" ButtonStyle="ButtonStyle.Secondary" class="text-primary-color p-0 pb-1" />
                @if (Filter != null)
                {
                    <RadzenButton Variant="Variant.Text" Click="@RemoveFilters" Text="Limpiar filtros" ButtonStyle="ButtonStyle.Secondary" class="text-decoration-underline p-0 pb-1" />
                }
            </div>
            <div class="component-section d-flex flex-column justify-content-start text-secondary-color">
                @if (Filter != null)
                {
                    @if (Filter.AdjustmentId != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Número: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentId.Value</span>
                        </div>
                    }
                    @if (Filter.AdjustmentDate != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Fecha del ajuste: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentDate.Value.ToString(SharedLocalizer["date:format"])</span>
                        </div>
                    }
                    @if (Filter.CreationDate != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Fecha del creación: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.CreationDate.Value.ToString(SharedLocalizer["date:format"])</span>
                        </div>
                    }
                    @if (Filter.AdjustmentType != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Tipo de ajuste: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentType.AdjustmentTypeName</span>
                        </div>
                    }
                    @if (Filter.AdjustmentReason != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Motivo del ajuste: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentReason.AdjustmentReasonName</span>
                        </div>
                    }
                    @if (Filter.Employee != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Empleado: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.Employee.FullName</span>
                        </div>
                    }
                    <div class="d-flex flex-column justify-content-start pt-2">
                        @if (Filter.ItemReferences.Any())
                        {
                            <p class="component-label m-0 fw-bold">Referencias: </p>
                            @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                            {
                                <span class="@(i>=2 ? "read-more" : "")" style="@(i>=2 ? "display: none" : "")">(@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</span>
                            }
                            @if (Filter.ItemReferences.Count() > 2)
                            {
                                <div>
                                    <a href="javascript:;" id="toggleLink" @onclick="ToggleReadMore">Ver más</a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </RadzenColumn>
        <RadzenColumn Size="6" class="align-self-end">
            <div class="d-flex flex-row justify-content-end align-items-end">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="save" Text="Guardar PDF" Click="@Download" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@IsBusy" />
            </div>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenCard style="min-height:600px; overflow-y:auto">
                <div id="inventory-adjustments-report-container">
                    <div class="report">
                        <table>
                            <tr>
                                <td width="50%">
                                    <h2 class="text-left mb-0">Ajustes de inventario</h2>
                                    <span class="mb-1">@DateTime.Now.ToString(SharedLocalizer["datetime:format"])</span>
                                </td>
                                <td width="50%">
                                    @if (Filter != null)
                                    {
                                        <div class="filters">
                                            <div class="title">Filtros:</div>
                                            <div>
                                                @if (Filter.AdjustmentId != null)
                                                {
                                                    <div>
                                                        <div class="type" style="display:inline-block">Número: </div>
                                                        <span>@Filter.AdjustmentId.Value</span>
                                                    </div>
                                                }
                                                @if (Filter.AdjustmentDate != null)
                                                {
                                                    <div>
                                                        <div class="type" style="display:inline-block">Fecha del ajuste: </div>
                                                        <span>@Filter.AdjustmentDate.Value.ToString(SharedLocalizer["date:format"])</span>
                                                    </div>
                                                }
                                                @if (Filter.CreationDate != null)
                                                {
                                                    <div>
                                                        <div class="type" style="display:inline-block">Fecha del creación: </div>
                                                        <span>@Filter.CreationDate.Value.ToString(SharedLocalizer["date:format"])</span>
                                                    </div>
                                                }
                                                @if (Filter.AdjustmentType != null)
                                                {
                                                    <div>
                                                        <div class="type" style="display:inline-block">Tipo de ajuste: </div>
                                                        <span>@Filter.AdjustmentType.AdjustmentTypeName</span>
                                                    </div>
                                                }
                                                @if (Filter.AdjustmentReason != null)
                                                {
                                                    <div>
                                                        <div class="type" style="display:inline-block">Motivo del ajuste: </div>
                                                        <span>@Filter.AdjustmentReason.AdjustmentReasonName</span>
                                                    </div>
                                                }
                                                @if (Filter.Employee != null)
                                                {
                                                    <div>
                                                        <div class="type" style="display:inline-block">Empleado: </div>
                                                        <span>@Filter.Employee.FullName</span>
                                                    </div>
                                                }
                                                @if (Filter.ItemReferences.Any())
                                                {
                                                    <div>
                                                        <div class="type">Referencias: </div>
                                                        @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                                                        {
                                                            <p>(@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</p>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="mt-1 border">
                            @if (ViewModel != null)
                            {
                                @for (int x = 0; x < ViewModel.Adjustments.Count(); x++)
                                {
                                    var adjustment = ViewModel.Adjustments[x];
                                    <table class="@(x>0?"border-top-1":"")">
                                        <thead>
                                            <tr class="no-border">
                                                <td width="34%">
                                                    <span class="bold">Número: </span>@adjustment.AdjustmentId
                                                </td>
                                                <td colspan="2" width="66">
                                                    <span class="bold">Fecha de creación: </span>@adjustment.CreationDate.ToString(SharedLocalizer["datetime:format"])
                                                </td>
                                            </tr>
                                            <tr class="no-border">
                                                <td width="34%">
                                                    <span class="bold">Fecha del ajuste: </span>@adjustment.AdjustmentDate.ToString(SharedLocalizer["datetime:format"])
                                                </td>
                                                <td width="33%">
                                                    <span class="bold">Tipo de ajuste: </span>@adjustment.AdjustmentType
                                                </td>
                                                <td width="33%">
                                                    <span class="bold">Motivo del ajuste: </span>@adjustment.AdjustmentReason
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="34%">
                                                    <span class="bold">Empleado: </span>@adjustment.Employee
                                                </td>
                                                <td colspan="2" width="66%">
                                                    <span class="bold">Observaciones: </span>@adjustment.Notes
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var warehouse in adjustment.Warehouses)
                                            {
                                                <tr>
                                                    <td colspan="3" style="padding:0 !important">
                                                        <p class="title border-bottom-1">Bodega: @warehouse.WarehouseName</p>
                                                    </td>
                                                </tr>
                                                @foreach (var line in warehouse.Lines)
                                                {
                                                    <tr>
                                                        <td colspan="3" style="padding:0 !important">
                                                            <p class="title border-bottom-1" style="padding-left: 1em;">Línea: @line.LineCode  - @line.LineName</p>
                                                        </td>
                                                    </tr>
                                                    @for (int i = 0; i < line.Items.Count(); i++)
                                                    {
                                                        var item = line.Items[i];
                                                        <tr>
                                                            <td colspan="3" style="padding:0 !important">
                                                                <div style="padding: 0.75rem 0 0 1em !important;">
                                                                    <h3 class="text-left m-0 @(i>0?"border-top-1":"")" style="@(i>0?"margin-top: 1em !important;padding-top: 1em;":"")">
                                                                        @item.ItemName
                                                                    </h3>
                                                                    <p class="m-0">
                                                                        Referencia interna:: @item.InternalReference
                                                                    </p>
                                                                </div>
                                                                <div style="margin: 0.5em 1.5em 0 1em;">
                                                                    <table class="striped border-top-1">
                                                                        <thead>
                                                                            <tr>
                                                                                <th width="30%">Código</th>
                                                                                <th width="40%" class="border-left-1">Referencia</th>
                                                                                <th width="30%" class="border-left-1">Disponible</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var reference in item.References)
                                                                            {
                                                                                <tr>
                                                                                    <td width="30%">@reference.ReferenceCode</td>
                                                                                    <td width="40%" class="border-left-1">@reference.ReferenceName</td>
                                                                                    <td width="30%" class="border-left-1">@reference.AvailableAmount.ToString("N0")</td>
                                                                                </tr>
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>