@page "/report/inventory-adjustments"
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer

<PageTitle>Reporte de ajustes de inventario</PageTitle>
<RadzenStack Style="gap:0.3em">
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenText Text="Reporte de ajustes de inventario" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start" class="mb-2">
        <RadzenColumn Size="6">
            <div class="rz-text-align-left d-flex gap-3">
                <RadzenButton Variant="Variant.Text" Icon="filter_alt" Click="@OpenFilters" Text="Filtros" ButtonStyle="ButtonStyle.Secondary" class="text-primary-color p-0 pb-1" />
                @if (Filter != null)
                {
                    <RadzenButton Variant="Variant.Text" Click="@RemoveFilters" Text="Limpiar filtros" ButtonStyle="ButtonStyle.Secondary" class="text-decoration-underline p-0 pb-1" />
                }
            </div>
            <div class="component-section d-flex flex-column justify-content-start text-secondary-color">
                @if (Filter != null)
                {
                    @if (Filter.AdjustmentId != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Número: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentId.Value</span>
                        </div>
                    }
                    @if (Filter.CreationDate?.StartDate != null || Filter.CreationDate?.EndDate != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Fecha de creación: </p>
                            @if (Filter.CreationDate?.StartDate != null)
                            {
                                <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.CreationDate.StartDate.Value.ToString(SharedLocalizer["date:format"])</span>
                            }
                            @if (Filter.CreationDate?.EndDate != null)
                            {
                                @if (Filter.CreationDate?.StartDate != null)
                                {
                                    <p class="component-label m-0"> - </p>
                                }
                                <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.CreationDate.EndDate.Value.ToString(SharedLocalizer["date:format"])</span>
                            }
                        </div>
                    }
                    @if (Filter.AdjustmentDate?.StartDate != null || Filter.AdjustmentDate?.EndDate != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Fecha del ajuste: </p>
                            @if (Filter.AdjustmentDate?.StartDate != null)
                            {
                                <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentDate.StartDate.Value.ToString(SharedLocalizer["date:format"])</span>
                            }
                            @if (Filter.AdjustmentDate?.EndDate != null)
                            {
                                @if (Filter.AdjustmentDate?.StartDate != null)
                                {
                                    <p class="component-label m-0"> - </p>
                                }
                                <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentDate.EndDate.Value.ToString(SharedLocalizer["date:format"])</span>
                            }
                        </div>
                    }
                    @if (Filter.AdjustmentType != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Tipo de ajuste: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentType.AdjustmentTypeName</span>
                        </div>
                    }
                    @if (Filter.AdjustmentReason != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Motivo del ajuste: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.AdjustmentReason.AdjustmentReasonName</span>
                        </div>
                    }
                    @if (Filter.Employee != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Empleado: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.Employee.FullName</span>
                        </div>
                    }
                    <div class="d-flex flex-column justify-content-start pt-2">
                        @if (Filter.ItemReferences.Any())
                        {
                            <p class="component-label m-0 fw-bold">Referencias: </p>
                            @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                            {
                                <span class="@(i>=2 ? "read-more" : "")" style="@(i>=2 ? "display: none" : "")">(@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</span>
                            }
                            @if (Filter.ItemReferences.Count() > 2)
                            {
                                <div>
                                    <a href="javascript:;" id="toggleLink" @onclick="ToggleReadMore">Ver más</a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </RadzenColumn>
        <RadzenColumn Size="6" class="align-self-end">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenSplitButton Icon="build" Text="Acciones" Click="@Save" Variant="Variant.Flat" Shade="Shade.Lighter" IsBusy="@IsBusy" Disabled="ViewModel==null">
                    <RadzenSplitButtonItem Text="Imprimir" Icon="print" Value="print" Style="cursor:pointer" />
                    <RadzenSplitButtonItem Text="Guardar PDF" Icon="picture_as_pdf" Value="save" Style="cursor:pointer" />
                </RadzenSplitButton>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenCard style="min-height:600px; overflow-y:auto; position:relative">
                <div id="inventory-adjustments-report-container">
                    <div class="report">
                        <table>
                            <tr>
                                <td width="50%">
                                    <h2 class="text-left mb-0">Ajustes de inventario</h2>
                                    <span class="mb-1">@DateTime.Now.ToString(SharedLocalizer["datetime:format"])</span>
                                </td>
                                <td width="50%">
                                    @if (Filter != null)
                                    {
                                        <div class="filters">
                                            <div class="title">Filtros:</div>
                                            <div>
                                                @if (Filter.AdjustmentId != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Número: </div>
                                                        <span>@Filter.AdjustmentId.Value</span>
                                                    </div>
                                                }
                                                @if (Filter.CreationDate?.StartDate != null || Filter.CreationDate?.EndDate != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Fecha de creación: </div>
                                                        @if (Filter.CreationDate?.StartDate != null)
                                                        {
                                                            <span>@Filter.CreationDate.StartDate.Value.ToString(SharedLocalizer["date:format"])</span>
                                                        }
                                                        @if (Filter.CreationDate?.EndDate != null)
                                                        {
                                                            @if (Filter.CreationDate?.StartDate != null)
                                                            {
                                                                <p> - </p>
                                                            }
                                                            <span>@Filter.CreationDate.EndDate.Value.ToString(SharedLocalizer["date:format"])</span>
                                                        }
                                                    </div>
                                                }
                                                @if (Filter.AdjustmentDate?.StartDate != null || Filter.AdjustmentDate?.EndDate != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Fecha del ajuste: </div>
                                                        @if (Filter.AdjustmentDate?.StartDate != null)
                                                        {
                                                            <span>@Filter.AdjustmentDate.StartDate.Value.ToString(SharedLocalizer["date:format"])</span>
                                                        }
                                                        @if (Filter.AdjustmentDate?.EndDate != null)
                                                        {
                                                            @if (Filter.AdjustmentDate?.StartDate != null)
                                                            {
                                                                <p> - </p>
                                                            }
                                                            <span>@Filter.AdjustmentDate.EndDate.Value.ToString(SharedLocalizer["date:format"])</span>
                                                        }
                                                    </div>
                                                }
                                                @if (Filter.AdjustmentType != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Tipo de ajuste: </div>
                                                        <span>@Filter.AdjustmentType.AdjustmentTypeName</span>
                                                    </div>
                                                }
                                                @if (Filter.AdjustmentReason != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Motivo del ajuste: </div>
                                                        <span>@Filter.AdjustmentReason.AdjustmentReasonName</span>
                                                    </div>
                                                }
                                                @if (Filter.Employee != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Empleado: </div>
                                                        <span>@Filter.Employee.FullName</span>
                                                    </div>
                                                }
                                                @if (Filter.ItemReferences.Any())
                                                {
                                                    <div style="display:flex; flex-direction:column; justify-content:end">
                                                        <div class="type">Referencias: </div>
                                                        @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                                                        {
                                                            <p class="@(i>=2 ? "read-more-page" : "")" style="@(i>=2 ? "display: none" : "")"> [@Filter.ItemReferences[i].Item.InternalReference] (@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</p>
                                                        }
                                                        @if (Filter.ItemReferences.Count() > 2)
                                                        {
                                                            <div>
                                                                <a href="javascript:;" id="toggleLinkPage" @onclick="ToggleReadMorePage">Ver más</a>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="mt-1">
                            <LoadingData IsLoadingData="@IsLoadingData" />
                            @if (ViewModel != null)
                            {
                                @if (ViewModel.Adjustments?.Any() == true)
                                {
                                    @for (int x = 0; x < ViewModel.Adjustments.Count(); x++)
                                    {
                                        var adjustment = ViewModel.Adjustments[x];
                                        <table class="edged">
                                            <thead>
                                                <tr class="emphasys-2x font-size-2x">
                                                    <td colspan="4" width="100%">
                                                        <span class="bold">Número: </span>@adjustment.AdjustmentId
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">
                                                        <span class="bold">Fecha de creación: </span><br />
                                                        @adjustment.CreationDate.ToString(SharedLocalizer["datetime:format"])
                                                    </td>
                                                    <td width="25%">
                                                        <span class="bold">Fecha del ajuste: </span><br />
                                                        @adjustment.AdjustmentDate.ToString(SharedLocalizer["datetime:format"])
                                                    </td>
                                                    <td width="25%">
                                                        <span class="bold">Tipo de ajuste: </span>@adjustment.AdjustmentType
                                                    </td>
                                                    <td width="25%">
                                                        <span class="bold">Motivo del ajuste: </span>@adjustment.AdjustmentReason
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="25%">
                                                        <span class="bold">Empleado: </span>@adjustment.Employee
                                                    </td>
                                                    <td colspan="3" width="75%">
                                                        <span class="bold">Observaciones: </span> <br />
                                                        @adjustment.Notes
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var warehouse in adjustment.Warehouses)
                                                {
                                                    <tr>
                                                        <td colspan="4" style="padding:0 !important">
                                                            <p class="title">Bodega: @warehouse.WarehouseName</p>
                                                        </td>
                                                    </tr>
                                                    @foreach (var line in warehouse.Lines)
                                                    {
                                                        <tr>
                                                            <td colspan="4" style="padding:0 !important">
                                                                <p class="title" style="padding-left: 1em;">Línea: @line.LineCode  - @line.LineName</p>
                                                            </td>
                                                        </tr>
                                                        @for (int i = 0; i < line.Items.Count(); i++)
                                                        {
                                                            var item = line.Items[i];
                                                            <tr>
                                                                <td colspan="4" style="padding:0 !important">
                                                                    <div style="padding: 1em 1em 0 1em !important;">
                                                                        @if (i > 0)
                                                                        {
                                                                            <hr class="mb-2" />
                                                                        }
                                                                        <h3 title="Click para ver imagen" @onclick="@(args => ShowImageDialog($"[{item.InternalReference}] {item.ItemName}"))"
                                                                            style="cursor: pointer;" 
                                                                            class="text-left m-0">
                                                                            @item.ItemName
                                                                        </h3>
                                                                        <p class="m-0">
                                                                            Referencia interna: @item.InternalReference
                                                                        </p>
                                                                    </div>
                                                                    <div style="margin: 1em;">
                                                                        <table class="striped edged">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th width="30%">Código</th>
                                                                                    <th width="40%">Referencia</th>
                                                                                    <th width="30%">Cantidad</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var reference in item.References)
                                                                                {
                                                                                    <tr>
                                                                                        <td width="30%">@reference.ReferenceCode</td>
                                                                                        <td width="40%">@reference.ReferenceName</td>
                                                                                        <td width="30%">@reference.AvailableAmount.ToString("N0")</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                                else
                                {
                                    <div class="no-data-container">
                                        <h4>@SharedLocalizer["report:no-data"]</h4>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="no-data-container">
                                    <h4>@SharedLocalizer["report:unfiltered"]</h4>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>