@page "/add-customer-order-shipment/{CustomerOrderId}"

@attribute [Authorize(Roles = "Admin,Transfer Warehouses Editor")]
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Web.Resources.ISharedStringLocalizer SharedLocalizer

<PageTitle>Pedido de artículos</PageTitle>
<RadzenCard>
    <RadzenStack>
        <RadzenTemplateForm TItem="Aldebaran.Application.Services.Models.CustomerOrder" Data="@customerOrder" Visible="@(customerOrder != null)" Submit="@FormSubmit" InvalidSubmit="()=>Submitted=true">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenText Text="@title" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
                    <hr />
                </RadzenColumn>
                <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" @bind-Visible="@IsErrorVisible">
                    @Error
                </RadzenAlert>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                <RadzenColumn SizeMD="5">
                    <RadzenStack>
                        <RadzenRow />
                        <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                            <RadzenColumn SizeMD="1" />
                            <RadzenColumn SizeMD="6">
                                <RadzenStack>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenLabel Text="Cliente" class="text-primary-color" Style="font-size: 16px;" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.CustomerName</span>
                                        </RadzenRow>
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.Phone1</span>
                                        </RadzenRow>
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.Email1</span>
                                        </RadzenRow>
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.CustomerAddress, (@customerOrder.Customer.City.Department.Country.CountryCode) @customerOrder.Customer.City.Department.DepartmentName - @customerOrder.Customer.City.CityName </span>
                                        </RadzenRow>
                                    </RadzenColumn>
                                </RadzenStack>
                            </RadzenColumn>
                            <RadzenColumn SizeMD="5">
                                <RadzenStack>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenLabel Text="Fecha de pedido" class="text-primary-color" Style="font-size: 16px;" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <span>@(customerOrder.OrderDate.ToString(@SharedLocalizer["date:format"])) </span>
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenLabel Text="Fecha pactada de entrega" class="text-primary-color" Style="font-size: 16px;" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <span>@(customerOrder.EstimatedDeliveryDate.ToString(@SharedLocalizer["date:format"]))</span>
                                    </RadzenColumn>
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenCard class="m-3">
                            <RadzenColumn Size="6">
                                <RadzenText Text="Datos del despacho" TextStyle="TextStyle.H5" TagName="TagName.H1" style="margin: 0" />
                            </RadzenColumn>
                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenFormField Text="Fecha de despacho" Variant="Variant.Text" class="fw-bold">
                                    <ChildContent>
                                        <RadzenDatePicker Name="ShippingDate" @bind-Value="@customerOrderShipment.ShippingDate" DateFormat="@SharedLocalizer["date:format"]"
                                                          TabIndex="0" style="display: block; width: 100%" Placeholder="Seleccione la fecha del despacho" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Text="La fecha de despacho es requerida" Component="ShippingDate" />
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Número de guía" Variant="Variant.Text" class="fw-bold">
                                    <ChildContent>
                                        <RadzenTextBox @bind-Value="@customerOrderShipment.TrackingNumber" style="display: block; width: 100%"
                                                       TabIndex="1" Placeholder="Seleccione la fecha del despacho" />
                                    </ChildContent>
                                </RadzenFormField>
                                <RadzenFormField Text="Remisión" Variant="Variant.Text" class="fw-bold">
                                    <ChildContent>
                                        <RadzenTextBox Name="DELIVERY_NOTE" @bind-Value="@customerOrderShipment.DeliveryNote" style="display: block; width: 100%"
                                                       TabIndex="2" Placeholder="Seleccione la fecha del despacho" />
                                    </ChildContent>
                                    <Helper>
                                        <RadzenRequiredValidator Component="DELIVERY_NOTE" Text="La remisión es requerida"></RadzenRequiredValidator>
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Método de envío" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                    <ChildContent>
                                        <RadzenDropDownDataGrid Data="@shippingMethodsFORSHIPPINGMETHODID" TextProperty="ShippingMethodName" ValueProperty="ShippingMethodId" AllowClear=true
                                                                style="display: block; width: 100%" @bind-Value="@customerOrderShipment.ShippingMethodId" Name="SHIPING_METHOD_ID"
                                                                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true"
                                                                TabIndex="3" Placeholder="Seleccione el metodo de envío">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="ShippingMethodName" Title="Método" />
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenNumericRangeValidator Component="SHIPING_METHOD_ID" Min="1" Text="El método de envio es requerido"></RadzenNumericRangeValidator>
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Despachado Por" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                    <ChildContent>
                                        <RadzenDropDownDataGrid Data="@employeesFOREMPLOYEEID" TextProperty="FullName" ValueProperty="EmployeeId" AllowClear=true
                                                                style="display: block; width: 100%" @bind-Value="@customerOrderShipment.EmployeeId" Name="EMPLOYEE_ID"
                                                                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true"
                                                                TabIndex="4" Placeholder="Seleccione un empleado">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="EMPLOYEE.IdentityType.IdentityTypeName" Title="Tipo de identificación" />
                                                <RadzenDropDownDataGridColumn Property="IdentityNumber" Title="Número de identificación" />
                                                <RadzenDropDownDataGridColumn Property="FullName" Title="Nombre completo" />
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </ChildContent>
                                    <Helper>
                                        <RadzenNumericRangeValidator Component="EMPLOYEE_ID" Min="1" Text="El empleado es requerido"></RadzenNumericRangeValidator>
                                    </Helper>
                                </RadzenFormField>
                                <RadzenFormField Text="Notas" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                    <RadzenTextArea Multilie="true" style="display: block; width: 100%" @bind-Value="@customerOrderShipment.Notes" TabIndex="3" />
                                </RadzenFormField>
                            </RadzenRow>
                        </RadzenCard>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="7">
                    <RadzenStack>
                        <RadzenRow />
                        <RadzenColumn Size="6">
                            <RadzenText Text="Referencias del Pedido" TextStyle="TextStyle.H5" TagName="TagName.H1" style="margin: 0" />
                        </RadzenColumn>
                        <LocalizedDataGrid @ref="customerOrderDetailGrid" ColumnWidth="200px" AllowFiltering="false" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                           Data="@detailsInProcess" TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Title="Referencia">
                                    <Template Context="detail">
                                        <RadzenLabel MouseEnter="@(args => ShowTooltip(args,detail.REFERENCE_DESCRIPTION, new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                            @detail.REFERENCE_DESCRIPTION
                                        </RadzenLabel>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="PENDING_QUANTITY" Title="Pendiente" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="PROCESSED_QUANTITY" Title="En Proceso" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="DELIVERED_QUANTITY" Title="Despachado" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="THIS_QUANTITY" Title="Este Despacho" Width="110px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Filterable="false" Sortable="false" Width="110px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                                    <Template Context="detail">
                                        <RadzenButton Icon="assignment_ind" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(args => SendToShipment(detail))" @onclick:stopPropagation="true"
                                                      Visible="@CanSend(detail)" MouseEnter="@(args => ShowTooltip(args,"Despachar", new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                      Shade="Shade.Lighter" Variant="Variant.Flat" Visible="@CanCancel(detail)"
                                                      Click=@(args => CancelToShipment(detail)) @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack class="my-2" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@IsSubmitInProgress" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>
    </RadzenStack>
</RadzenCard>
