@page "/shipment-customer-orders"
@page "/shipment-customer-orders/{CUSTOMER_ORDER_SHIPMENT_ID}"
@page "/shipment-customer-orders/{Action}/{CUSTOMER_ORDER_SHIPMENT_ID}"
@attribute [Authorize(Roles = "Admin,Customer Order Shipment Viwer,Customer Order Shipment Editor")]
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Web.Resources.ISharedStringLocalizer SharedLocalizer ;

<PageTitle>Pedido de Artículos</PageTitle>
<RadzenStack>
    @if (dialogResult != null && dialogResult.Success)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Success">
            @dialogResult.Message
        </RadzenAlert>
    }
    @if (dialogResult != null && !dialogResult.Success)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger">
            @dialogResult.Message
        </RadzenAlert>
    }
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenText Text="Despacho de artículos procesados" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
            <hr />
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
        <RadzenColumn SizeMD=12>
            <LocalizedDataGrid @ref="CustomerOrdersGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                               ExpandMode="DataGridExpandMode.Single" Data="@customerOrders" TItem="Aldebaran.Application.Services.Models.CustomerOrder" RowExpand=@GetChildData AllowColumnPicking="true" PageSizeText="items per page" PagingSummaryFormat="Page {0} de {1} ({2} items)" IsLoading="@isLoadingInProgress">
                <Columns>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="OrderNumber" Title="No. pedido">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="Customer.CustomerName" Title="Cliente">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="OrderDate" Title="Fecha pedido">
                        <Template Context="customerOrder">
                            <span>@customerOrder.OrderDate.ToString(SharedLocalizer["date:format"])</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="EstimatedDeliveryDate" Title="Fecha estimada entrega">
                        <Template Context="customerOrder">
                            <span>@customerOrder.EstimatedDeliveryDate.ToString(SharedLocalizer["date:format"])</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="StatusDocumentType.StatusDocumentTypeName" Title="Estado">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="CustomerNotes" Title="Notas del cliente" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Property="InternalNotes" Title="Notas internas" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrder" Filterable="false" Sortable="false" Width="110px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                        <Template Context="customerOrder">
                            <RadzenButton Icon="assignment_ind" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                          Click="@(args => SendToShipment(customerOrder))" @onclick:stopPropagation="true"
                                          Visible="@Security.IsInRole("Admin","Customer Order Shipment Editor")" title="Despachar Cantidades">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
                <Template Context="customerOrder">
                    <RadzenStack Class="rz-my-8">
                        <RadzenTabs Visible="@(customerOrder != null)">
                            <Tabs>
                                <RadzenTabsItem Text="Referencias del pedido">
                                    <LocalizedDataGrid ColumnWidth="200px" Visible="@(customerOrder != null)" @ref=CustomerOrderDetailsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                       ExpandMode="DataGridExpandMode.Single" Data="@detailInProcesses" TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Title="Referencia">
                                                <Template Context="detail">
                                                    <RadzenLabel MouseEnter="@(args => ShowTooltip(args,detail.REFERENCE_DESCRIPTION, new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                                        @detail.REFERENCE_DESCRIPTION
                                                    </RadzenLabel>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="PENDING_QUANTITY" Title="Pendiente">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="PROCESSED_QUANTITY" Title="En proceso">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="DELIVERED_QUANTITY" Title="Despachado">
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </LocalizedDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Text="Despachos realizados al cliente">
                                    <LocalizedDataGrid @ref="CustomerOrderShipmentDataGrid" ColumnWidth="200px" Visible="@(customerOrderShipments != null)" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                       ExpandMode="DataGridExpandMode.Single" Data="@customerOrderShipments" RowExpand=@GetChildShipmentData TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment" Property="ShippingDate" Title="Fecha de despacho">
                                                <Template Context="customerOrderShipment">
                                                    <span>@customerOrderShipment.ShippingDate.ToString(SharedLocalizer["date:format"])</span>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment" Property="TrackingNumber" Title="Número de rastreo">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment" Property="ShippingMethod.ShippingMethodName" Title="Método de envio">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment" Property="Employee.FullName" Title="Responsable">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment" Property="StatusDocumentType.StatusDocumentTypeName" Title="Estado">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipment" Filterable="false" Sortable="false" Width="110px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                                                <Template Context="customerOrderShipment">
                                                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                                  Click="@(args => EditProcessRow(customerOrderShipment))" @onclick:stopPropagation="true"
                                                                  Visible="@CanEditProcess(customerOrderShipment).Result" MouseEnter="@(args => ShowTooltip(args,"Actualizar", new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                                    </RadzenButton>
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                                  Shade="Shade.Lighter" Variant="Variant.Flat" Visible="@CanEditProcess(customerOrderShipment).Result"
                                                                  Click=@(args => CancelCustomerOrderShipment(args, customerOrderShipment)) @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Cancelar", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                        <Template Context="customerOrderShipment">
                                            <RadzenStack Class="rz-my-8">
                                                <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                                    <RadzenColumn Size="12" SizeMD="6">
                                                        <RadzenText Visible="@(customerOrder != null)" Text="Referencias Incluidas en el Traslado" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                                                    </RadzenColumn>
                                                </RadzenRow>
                                                <LocalizedDataGrid ColumnWidth="200px" Visible="@(customerOrder != null)" @ref=CustomerOrderShipmentDetailDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                                   ExpandMode="DataGridExpandMode.Single" Data="@customerOrderShipmentDetails" TItem="Aldebaran.Application.Services.Models.CustomerOrderShipmentDetail">
                                                    <Columns>
                                                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipmentDetail" Title="Referencia">
                                                            <Template Context="detail">
                                                                <RadzenLabel MouseEnter="@(args => ShowTooltip(args,GetReferenceHint(@detail.CustomerOrderDetail.ItemReference).Result, new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                                                    (@detail.CustomerOrderDetail.ItemReference.Item.Line.LineName) @detail.CustomerOrderDetail.ItemReference.Item.ItemName - @detail.CustomerOrderDetail.ItemReference.ReferenceName
                                                                </RadzenLabel>
                                                            </Template>
                                                        </RadzenDataGridColumn>
                                                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderShipmentDetail" Property="DeliveredQuantity" Title="Cantidad despachada">
                                                        </RadzenDataGridColumn>
                                                    </Columns>
                                                </LocalizedDataGrid>
                                            </RadzenStack>
                                        </Template>
                                    </LocalizedDataGrid>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    </RadzenStack>
                </Template>
            </LocalizedDataGrid>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
