@page "/add-purchase-order"

@attribute [Authorize]

<PageTitle>Nueva orden de compra</PageTitle>
<RadzenCard>
    <RadzenStack>
        <RadzenTemplateForm TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrder" Data="@purchaseOrder" Visible="@(purchaseOrder != null)" Submit="@FormSubmit">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenText Text="Nueva orden de compra" TextStyle="TextStyle.H3" TagName="TagName.H1" />
                </RadzenColumn>
                <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save PurchaseOrder</RadzenAlert>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Start" Gap="2rem" class="mt-2">
                <RadzenColumn Size="6">
                    <RadzenStack>
                        <RadzenFormField Text="Proveedor" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDownDataGrid Data="@providersForPROVIDERID" TextProperty="PROVIDER_NAME" ValueProperty="PROVIDER_ID" AllowClear=true
                                                        style="display: block; width: 100%" @bind-Value="@purchaseOrder.PROVIDER_ID" Name="PROVIDER_ID" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true">
                                    <Columns>
                                        <RadzenDropDownDataGridColumn Property="PROVIDER_CODE" Title="Código" />
                                        <RadzenDropDownDataGridColumn Property="PROVIDER_NAME" Title="Nombre" />
                                        <RadzenDropDownDataGridColumn Property="CONTACT_PERSON" Title="Contacto" />
                                        <RadzenDropDownDataGridColumn Property="City.CITY_ID" Title="Ubicación">
                                            <Template Context="provider">
                                                <span>(@provider.City.Department.Country.COUNTRY_CODE) @provider.City.Department.DEPARTMENT_NAME - @provider.City.CITY_NAME</span>
                                            </Template>
                                        </RadzenDropDownDataGridColumn>
                                    </Columns>
                                </RadzenDropDownDataGrid>
                            </ChildContent>
                        </RadzenFormField>
                        <RadzenFormField Text="Fecha de solicitud" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@purchaseOrder.REQUEST_DATE" Name="REQUEST_DATE" Min="@DateTime.Now.AddDays(-1)" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="REQUEST_DATE" Text="Fecha de solicitud es requerida" />
                            </Helper>
                        </RadzenFormField>
                        <RadzenFormField Text="Fecha esperada de recepción" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@purchaseOrder.EXPECTED_RECEIPT_DATE" Name="EXPECTED_RECEIPT_DATE" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="EXPECTED_RECEIPT_DATE" Text="Fecha esperada de recepción es requerida" />
                            </Helper>
                        </RadzenFormField>
                        <AgentForwarderPicker OnChange="AgentForwarderHandler" />
                        <RadzenRequiredValidator Text="Transportadora requerida" Component="FORWARDER_AGENT_ID" />
                        <RadzenFormField Text="Método de envío" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDown Data="@shipmentForwarderAgentMethods" TextProperty="ShipmentMethod.SHIPMENT_METHOD_NAME" ValueProperty="SHIPMENT_FORWARDER_AGENT_METHOD_ID" AllowClear=true
                                                style="display: block; width: 100%" @bind-Value="@purchaseOrder.SHIPMENT_FORWARDER_AGENT_METHOD_ID" Name="SHIPMENT_FORWARDER_AGENT_METHOD_ID">
                                </RadzenDropDown>
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="SHIPMENT_FORWARDER_AGENT_METHOD_ID" Text="Método de envío es requerido" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="6">
                    <RadzenTabs SelectedIndex="0">
                        <Tabs>
                            <RadzenTabsItem Text="Detalles de la órden de compra">
                                <RadzenStack>
                                    <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12">
                                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                                <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddPurchaseOrderDetailButtonClick" />
                                            </RadzenStack>
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenDataGrid @ref="purchaseOrderDetailGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                    Data="@purchaseOrderDetails" TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" AllowColumnResize="true" AllowMultiColumnSorting="true" AllowColumnReorder="true">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" Property="REQUESTED_QUANTITY" Title="Cantidad solicitada" />
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" Property="ItemReference.Item.Line.LINE_NAME" Title="Línea" />
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" Title="Artículo">
                                                <Template Context="detail">
                                                    <span>(@detail.ItemReference.Item.INTERNAL_REFERENCE) @detail.ItemReference.Item.ITEM_NAME</span>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" Title="Referencia">
                                                <Template Context="detail">
                                                    <span>(@detail.ItemReference.REFERENCE_CODE) @detail.ItemReference.REFERENCE_NAME</span>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" Property="Warehouse.WAREHOUSE_NAME" Title="Bodega">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                                <Template Context="detail">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                                  Shade="Shade.Lighter" Variant="Variant.Flat"
                                                                  Click=@(args => DeletePurchaseOrderDetailButtonClick(args, detail)) @onclick:stopPropagation="true" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenStack>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Actividades">
                                <RadzenStack>
                                    <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12">
                                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                                <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddPurchaseOrderActivityButtonClick" />
                                            </RadzenStack>
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenDataGrid @ref="purchaseOrderActivityGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                    Data="@purchaseOrderActivities" TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderActivity" AllowColumnResize="true" AllowMultiColumnSorting="true" AllowColumnReorder="true">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderActivity" Title="Responsable" Width="300px">
                                                <Template Context="activity">
                                                    <span>(@activity.ActivityEmployee.Area.AREA_NAME) @activity.ActivityEmployee.FULL_NAME</span>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderActivity" Title="Fecha de ejecución">
                                                <Template Context="activity">
                                                    <span>@activity.EXECUTION_DATE.ToString("MM/dd/yyyy")</span>
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderActivity" Property="ACTIVITY_DESCRIPTION" Title="Actividad">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderActivity" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                                <Template Context="activity">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                                  Shade="Shade.Lighter" Variant="Variant.Flat"
                                                                  Click=@(args => DeletePurchaseOrderActivityButtonClick(args, activity)) @onclick:stopPropagation="true" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenStack>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack class="m-2" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>
    </RadzenStack>
</RadzenCard>
