@page "/add-purchase-order-activity"

@attribute [Authorize]

<PageTitle>Add PurchaseOrderActivity</PageTitle>
<RadzenColumn SizeMD=12>
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save PurchaseOrderActivity</RadzenAlert>
    <RadzenTemplateForm TItem="Aldebaran.Web.Models.AldebaranDb.PurchaseOrderActivity" Data="@purchaseOrderActivity" Visible="@(purchaseOrderActivity != null)" Submit="@FormSubmit">
        <RadzenStack>
            <RadzenFormField Text="Fecha de ejecución" Variant="Variant.Text">
                <ChildContent>
                    <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@purchaseOrderActivity.EXECUTION_DATE" Name="EXECUTION_DATE" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="EXECUTION_DATE" Text="Fecha de ejecución es requerida" />
                </Helper>
            </RadzenFormField>

            <RadzenFormField Text="Empleado" Variant="Variant.Text">
                <ChildContent>
                    <RadzenDropDownDataGrid Data="@employees" TextProperty="FULL_NAME" ValueProperty="EMPLOYEE_ID" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="@purchaseOrderActivity.ACTIVITY_EMPLOYEE_ID" Name="EMPLOYEE_ID">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="INTERNAL_REFERENCE" Title="Referencia interna" >
                                <Template Context="employee">
                                    <span>@($"{employee.IdentityType.IDENTITY_TYPE_CODE}. {employee.IDENTITY_NUMBER}")</span>
                                </Template>
                            </RadzenDropDownDataGridColumn>
                            <RadzenDropDownDataGridColumn Property="FULL_NAME" Title="Nombre" />
                            <RadzenDropDownDataGridColumn Property="POSITION" Title="Posición" />
                        </Columns>
                    </RadzenDropDownDataGrid>
                </ChildContent>
                <Helper>
                    <RadzenNumericRangeValidator Component="ITEM_ID" Min="1" Text="Artículo es requerido" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Descripción" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextArea style="display: block; width: 100%" @bind-Value="@purchaseOrderActivity.ACTIVITY_DESCRIPTION" Name="ACTIVITY_DESCRIPTION" Rows="3" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="ACTIVITY_DESCRIPTION" Text="Descripción es requerida" />
                </Helper>
            </RadzenFormField>
        </RadzenStack>
        <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Variant="Variant.Flat" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>

