@page "/customer_order_cancel_log"
@attribute [Authorize(Roles = "Administrador,Log de pedidos")]
@using Aldebaran.Web.Resources.LocalizedControls;
@using ServiceModel = Aldebaran.Application.Services.Models;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<PageTitle>Log de cancelación de pedidos</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenStack>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12">
                <RadzenText Text="Log de cancelación de pedidos" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
            </RadzenColumn>            
        </RadzenRow>
        <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        <RadzenRow>
            <RadzenColumn SizeMD=12>
                <LocalizedDataGrid Count="@count" LoadData="@LoadData" @ref="CanceledCustomerOrdersDataGrid" ColumnWidth="120px" AllowPaging="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                   Data="@CanceledCustomerOrders" TItem="ServiceModel.CanceledCustomerOrder" AllowColumnResize="true" EditMode="Radzen.DataGridEditMode.Single"
                                   ExpandMode="Radzen.DataGridExpandMode.Single">
                    <Columns>
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="CustomerOrder.Customer.CustomerName" Title="Cliente" Width="90%" />
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="CustomerOrder.OrderNumber" Title="Número de pedido" Width="40%">
                            <Template Context="cancellation">
                                <RadzenLink href="javascript:void(0);" @onclick="@(async (args) => await CustomerOrderDetailInfo(cancellation.CustomerOrder.CustomerOrderId))">
                                    @cancellation.CustomerOrder.OrderNumber
                                </RadzenLink>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="CustomerOrder.OrderDate" Title="Fecha de pedido" Width="40%">
                            <Template Context="cancellation">
                                <span>@cancellation.CustomerOrder.OrderDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="CustomerOrder.EstimatedDeliveryDate" Title="Entrega estimada" Width="40%">
                            <Template Context="cancellation">
                                <span>@cancellation.CustomerOrder.EstimatedDeliveryDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="CancellationDate" Title="Fecha de cancelación" Width="50%">
                            <Template Context="cancellation">
                                <span>@cancellation.CancellationDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="CancellationReason.CancellationReasonName" Title="Motivo cancelación" Width="90%" />
                        <RadzenDataGridColumn TItem="ServiceModel.CanceledCustomerOrder" Property="Employee.FullName" Title="Cancelado por" Width="50%" />
                    </Columns>
                </LocalizedDataGrid>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}