@page "/purchase_order_modify_log"
@attribute [Authorize(Roles = "Administrador,Log de ordenes de compra")]
@using Aldebaran.Web.Resources.LocalizedControls;
@using ServiceModel = Aldebaran.Application.Services.Models;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<PageTitle>Artículos</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenStack>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12">
                <RadzenText Text="Log de cancelación de pedidos" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        <RadzenRow>
            <RadzenColumn SizeMD=12>
                <LocalizedDataGrid Count="@count" LoadData="@LoadData" @ref="ModifiedPurchaseOrdersDataGrid" ColumnWidth="120px" AllowPaging="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                   Data="@ModifiedPurchaseOrders" TItem="ServiceModel.ModifiedPurchaseOrder" AllowColumnResize="true" EditMode="Radzen.DataGridEditMode.Single"
                                   ExpandMode="Radzen.DataGridExpandMode.Single">
                    <Columns>
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="PurchaseOrder.Provider.ProviderName" Title="Proveedor" Width="90%" />
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="PurchaseOrder.OrderNumber" Title="Número de orden" Width="40%">
                            <Template Context="modification">
                                <RadzenLink href="javascript:void(0);" @onclick="@(async (args) => await PurchaseOrderDetailInfo(modification.PurchaseOrder.PurchaseOrderId))">
                                    @modification.PurchaseOrder.OrderNumber
                                </RadzenLink>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="PurchaseOrder.RequestDate" Title="Fecha de solicitud" Width="40%">
                            <Template Context="modification">
                                <span>@modification.PurchaseOrder.RequestDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="PurchaseOrder.ExpectedReceiptDate" Title="Llegada esperada" Width="40%">
                            <Template Context="modification">
                                <span>@modification.PurchaseOrder.ExpectedReceiptDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="ModificationDate" Title="Fecha de modificación" Width="50%">
                            <Template Context="modification">
                                <span>@modification.ModificationDate.ToString(SharedLocalizer["date:format"])</span>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="ModificationReason.ModificationReasonName" Title="Motivo modificación" Width="90%" />
                        <RadzenDataGridColumn TItem="ServiceModel.ModifiedPurchaseOrder" Property="Employee.FullName" Title="modificado por" Width="50%" />
                    </Columns>
                </LocalizedDataGrid>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}