@attribute [Authorize(Roles = "Administrador,Modificación de artículos")]
@using ServiceModel = Aldebaran.Application.Services.Models;

<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Title="No se ha podido crear el artículo" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" @bind-Visible="@IsErrorVisible">
            <ul class="m-0" style="list-style-type:disc">
                @foreach (var error in ValidationErrors)
                {
                    <li>@error</li>
                }
            </ul>
        </RadzenAlert>
        <RadzenTemplateForm TItem="ServiceModel.Item" Data="@Item" Visible="@(Item != null)" Submit="@FormSubmit">
            <RadzenStack>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Nombre artículo" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Item.ItemName" Name="ItemName" MaxLength="50" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="ItemName" Text="Nombre es requerido" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Referencia" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Item.InternalReference" Name="InternalReference" MaxLength="10" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="InternalReference" Text="Referencia es requerida" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Nombre artículo del proveedor" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Item.ProviderItemName" Name="ProviderItemName" MaxLength="50" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="ProviderItemName" Text="Nombre es requerido" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Referencia del proveedor" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Item.ProviderReference" Name="ProviderReference" MaxLength="27" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="ProviderReference" Text="Referencia es requerida" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Línea" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDown Data="@Lines" TextProperty="LineName" ValueProperty="LineId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                style="display: block; width: 100%" @bind-Value="@Item.LineId" Name="LineId">
                                </RadzenDropDown>
                            </ChildContent>
                            <Helper>
                                <RadzenNumericRangeValidator Component="LineId" Min="1" Text="Línea es requerida" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Moneda" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDown Data="@Currencies" TextProperty="CurrencyName" ValueProperty="CurrencyId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                style="display: block; width: 100%" @bind-Value="@Item.CurrencyId" Name="CurrencyId">
                                </RadzenDropDown>
                            </ChildContent>
                            <Helper>
                                <RadzenNumericRangeValidator Component="CurrencyId" Min="1" Text="Moneda es requerida" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Volumen" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Item.Volume" Name="Volume" Max="9999999999" />
                            </ChildContent>
                            <Helper>
                                <RadzenNumericRangeValidator Component="Volume" Min="0.01" Text="Volumen debe ser mayor a 0" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Peso" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Item.Weight" Name="Weight" Max="9999999999" />
                            </ChildContent>
                            <Helper>
                                <RadzenNumericRangeValidator Component="Weight" Min="0.01" Text="Peso debe ser mayor a 0" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Unidad FOB" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDown Data="@MeasureUnits" TextProperty="MeasureUnitName" ValueProperty="MeasureUnitId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                style="display: block; width: 100%" @bind-Value="@Item.FobMeasureUnitId" Name="FobMeasureUnitId">
                                </RadzenDropDown>
                            </ChildContent>
                            <Helper>
                                <RadzenNumericRangeValidator Component="FobMeasureUnitId" Min="1" Text="Unidad FOB es requerida" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Costo FOB" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Item.FobCost" Name="FobCost" Max="9999999999" />
                            </ChildContent>
                            <Helper>
                                <RadzenNumericRangeValidator Component="FobCost" Min="0.1" Text="Costo debe ser mayor a 0" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Unidad CIF" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDown Data="@MeasureUnits" TextProperty="MeasureUnitName" ValueProperty="MeasureUnitId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                style="display: block; width: 100%" @bind-Value="@Item.CifMeasureUnitId" Name="CifMeasureUnitId">
                                </RadzenDropDown>
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Costo CIF" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Item.CifCost" Name="CifCost" Max="9999999999" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenText Text="Embalaje artículo" TextStyle="TextStyle.H5" TagName="TagName.H2" />
                <RadzenRow AlignItems="Radzen.AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="6">
                        <div>
                            <div class="d-flex gap-4 flex-row mt-2">
                                <div>
                                    <RadzenCheckBox @bind-Value="@Item.IsActive" Name="IsActive" />
                                    <RadzenLabel Text="Activo" Component="IsActive" />
                                </div>
                            </div>
                            <div class="d-flex gap-4 flex-row mt-2">
                                <div>
                                    <RadzenCheckBox @bind-Value="@Item.IsDomesticProduct" Name="IsDomesticProduct" />
                                    <RadzenLabel Text="Producto Nacional" Component="IsDomesticProduct" />
                                </div>
                            </div>
                            <div class="d-flex gap-4 flex-row mt-2">
                                <div>
                                    <RadzenCheckBox @bind-Value="@Item.IsSpecialImport" Name="IsSpecialImport" />
                                    <RadzenLabel Text="Importado especial" Component="IsSpecialImport" />
                                </div>
                            </div>
                        </div>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <div>
                            <div class="d-flex gap-4 flex-row mt-2">
                                <div>
                                    <RadzenCheckBox @bind-Value="@Item.IsExternalInventory" Name="IsExternalInventory" />
                                    <RadzenLabel Text="Inventario externo" Component="IsExternalInventory" />
                                </div>
                            </div>
                            <div class="d-flex gap-4 flex-row mt-2">
                                <div>
                                    <RadzenCheckBox @bind-Value="@Item.IsCatalogVisible" Name="IsCatalogVisible" />
                                    <RadzenLabel Text="Visible en catálogo" Component="IsCatalogVisible" />
                                </div>
                            </div>
                        </div>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenText Text="Embalaje artículo" TextStyle="TextStyle.H5" TagName="TagName.H2" />
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Peso" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Weight" Name="Weigth" MaxLength="10" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Altura" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Height" Name="Height" MaxLength="10" />
                            </ChildContent>                           
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Ancho" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Width" Name="Width" MaxLength="10" />
                            </ChildContent>                           
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Largo" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Length" Name="Length" MaxLength="10" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenFormField Text="Cantidad por caja" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@Quantity" Name="Quantity" MaxLength="10" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenFormField Text="Notas" Variant="Variant.Text">
                    <ChildContent>
                        <RadzenTextArea style="display: block; width: 100%" @bind-Value="@Item.Notes" Name="Notes" Rows="3" MaxLength="250"></RadzenTextArea>
                    </ChildContent>
                </RadzenFormField>
            </RadzenStack>
            <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>
}