@page "/items"
@attribute [Authorize(Roles = "Administrador,Consulta de artículos,Modificación de artículos")]
@using Aldebaran.Web.Resources.LocalizedControls;
@using ServiceModel = Aldebaran.Application.Services.Models;

<PageTitle>Artículos</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenStack>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12">
                <RadzenText Text="Artículos" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
            </RadzenColumn>
            <RadzenColumn Size="12">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                    <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddItem" Variant="Variant.Flat" Visible="@Security.IsInRole("Administrador","Modificación de artículos")" />
                    <RadzenSplitButton Icon="get_app" Text="Exportar" Click="@ExportClick" Variant="Variant.Flat" Shade="Shade.Lighter">
                        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
                        <RadzenSplitButtonItem Text="CSV" Value="csv" />
                    </RadzenSplitButton>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        <RadzenRow>
            <RadzenColumn SizeMD=12>
                <LocalizedDataGrid Count="@count" LoadData="@LoadData" @ref="ItemsDataGrid" ColumnWidth="120px" AllowPaging="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                   Data="@ItemsList" TItem="ServiceModel.Item" RowExpand=@GetItemReferences AllowColumnResize="true" EditMode="Radzen.DataGridEditMode.Single"
                                   ExpandMode="Radzen.DataGridExpandMode.Single">
                    <Columns>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="InternalReference" Title="Referencia interna" Width="60%">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="ItemName" Title="Nombre" Width="90%">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="ProviderReference" Title="Ref. proveedor" Width="50%">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="ProviderItemName" Title="Item proveedor" Width="50%">
                        </RadzenDataGridColumn>                        
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="IsDomesticProduct" Title="Producto Nacional" Width="60%">
                            <Template Context="item">
                                <RadzenCheckBox @bind-Value="@item.IsDomesticProduct" Name="IsDomesticProduct" Disabled="true"></RadzenCheckBox>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="IsActive" Title="Activo" Width="40%">
                            <Template Context="item">
                                <RadzenCheckBox @bind-Value="@item.IsActive" Name="IsActive" Disabled="true"></RadzenCheckBox>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="IsCatalogVisible" Title="Catálogo visible" Width="50%">
                            <Template Context="item">
                                <RadzenCheckBox @bind-Value="@item.IsCatalogVisible" Name="IsCatalogVisible" Disabled="true"></RadzenCheckBox>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="IsSpecialImport" Title="Imp. Especial" Width="40%">
                            <Template Context="item">
                                <RadzenCheckBox @bind-Value="@item.IsSpecialImport" Name="IsSpecialImport" Disabled="true"></RadzenCheckBox>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="IsSaleOff" Title="En oferta" Width="40%">
                            <Template Context="item">
                                <RadzenCheckBox @bind-Value="@item.IsSaleOff" Name="IsSaleOff" Disabled="true"></RadzenCheckBox>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Property="ApplyPreorder" Title="Preorden" Width="40%">
                            <Template Context="item">
                                <RadzenCheckBox @bind-Value="@item.ApplyPreorder" Name="ApplyPreorder" Disabled="true"></RadzenCheckBox>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="ServiceModel.Item" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Groupable="false" Visible="@Security.IsInRole("Administrador","Modificación de artículos")" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                            <Template Context="item">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Editar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                              Click="@(args => EditItem(item))" @onclick:stopPropagation="true">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                              Shade="Shade.Lighter" Variant="Variant.Flat"
                                              Click=@(args => DeleteItem(args, item)) @onclick:stopPropagation="true" />
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                    <Template Context="item">
                        <RadzenStack Class="rz-my-8">
                            <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12">
                                    <RadzenText Visible="@(item != null)" Text="Referencias" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" Visible="@Security.IsInRole("Administrador","Modificación de artículos")">
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                        <RadzenButton Visible="@(item != null)" Icon="add_circle_outline" Text="Nuevo" Click=@(args => AddItemReference(item)) />
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                            <LocalizedDataGrid ColumnWidth="80px" Visible="@(item != null)" @ref=ItemReferencesDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                               Data="@item?.ItemReferences" TItem="ServiceModel.ItemReference" AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" AllowGrouping="true" AllowColumnReorder="true">
                                <Columns>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="ReferenceCode" Title="Referencia" Width="40%">
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="ReferenceName" Title="Nombre" Width="50%">
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="ProviderReferenceCode" Title="Referencia proveedor" Width="40%">
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="ProviderReferenceName" Title="Nombre referencia proveedor" Width="50%">
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="Notes" Title="Notas" Visible="false">
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="IsActive" Title="Activo" Width="50%">
                                        <Template Context="itemReference">
                                            <RadzenCheckBox @bind-Value="@itemReference.IsActive" Name="IsActive" Disabled="true"></RadzenCheckBox>
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="AlarmMinimumQuantity" Title="Cant. mínima" Visible="true" Width="50%">                                        
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Title="% Cant. mínima" Visible="true" Width="50%">
                                        <Template Context="itemReference">
                                            @if (itemReference.Item.IsDomesticProduct || (!itemReference.Item.IsDomesticProduct && itemReference.HavePurchaseOrderDetail))
                                            {
                                                <span>No aplica</span>
                                            }
                                            else
                                            {
                                                <span>@itemReference.MinimumQuantityPercent.ToString("0\\%")</span>
                                            }
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Property="PurchaseOrderVariation" Title="Variación ordenes" Visible="true" Width="50%">
                                        <Template Context="itemReference">
                                            <span>@itemReference.PurchaseOrderVariation.ToString("0\\%")</span>
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="ServiceModel.ItemReference" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Groupable="false" Visible="@Security.IsInRole("Administrador","Modificación de artículos")" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                        <Template Context="itemReference">
                                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Editar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                                          Click="@(args => EditItemReference(itemReference, item))" @onclick:stopPropagation="true">
                                            </RadzenButton>
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Shade="Shade.Lighter" Variant="Variant.Flat" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                                          Click=@(args => DeleteItemReference(args, itemReference)) @onclick:stopPropagation="true" />
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </LocalizedDataGrid>
                        </RadzenStack>
                    </Template>
                </LocalizedDataGrid>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}