@using ViewModel = Aldebaran.Web.Pages.ReportPages.Automatic_Customer_Ordert_In_Process_Creation.ViewModel
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer

<RadzenColumn SizeMD=12>
    <RadzenTemplateForm TItem="ViewModel.AutomaticAssigmentFilter" Data="Filter" Submit="@FormSubmit">
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Tipo del documento origen" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            @code {
                                 class DocumentTypes
                                 {
                                     public string DocumentTypeId { get; set; }
                                     public string DocumentTypeName { get; set; }
                                 }

                                    IEnumerable<DocumentTypes> documentTypeSelection = new List<DocumentTypes>
                                                        {
                                                        new DocumentTypes { DocumentTypeId = "O", DocumentTypeName = "Orden de compra" },
                                                        new DocumentTypes { DocumentTypeId = "B", DocumentTypeName = "Traslado entre bodegas" }
                                                        };
                            }
                            <RadzenDropDown Data="@documentTypeSelection" TextProperty="DocumentTypeName" ValueProperty="DocumentTypeId" 
                                            AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="@Filter.DocumentType" Name="DocumentType">
                            </RadzenDropDown>                            
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Número del documento origen" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Filter.DocumentNumber" Name="PurchaseOrderNumber" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de recibo inicial" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.ReceiptDate.StartDate" Name="ReceiptStartDate" AllowClear=true Change="()=> Filter.ReceiptDate.EndDate = Filter.ReceiptDate.EndDate < Filter.ReceiptDate.StartDate ? Filter.ReceiptDate.StartDate : Filter.ReceiptDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de recibo final" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.ReceiptDate.EndDate" Name="ReceiptEndDate" AllowClear=true Min="Filter.ReceiptDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de confirmación inicial" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.ConfirmedDate.StartDate" Name="ConfirmedStartDate" AllowClear=true Change="()=> Filter.ConfirmedDate.EndDate = Filter.ConfirmedDate.EndDate < Filter.ConfirmedDate.StartDate ? Filter.ConfirmedDate.StartDate : Filter.ConfirmedDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de confirmación final" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.ConfirmedDate.EndDate" Name="ConfirmedEndDate" AllowClear=true Min="Filter.ConfirmedDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="12">
                <RadzenStack>
                    <RadzenFormField Text="Proveedor" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Count="@countProviders" LoadData="@LoadProviderData" @ref="providersDropdown" Data="@Providers" TextProperty="ProviderName" ValueProperty="ProviderId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    style="display: block; width: 100%" @bind-Value="@Filter.ProviderId" Name="ProviderId" AllowFilteringByAllStringColumns="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="ProviderCode" Title="Código" />
                                    <RadzenDropDownDataGridColumn Property="ProviderName" Title="Nombre" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="4">
                <RadzenStack>
                    <RadzenFormField Text="Número de importación" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Filter.ImportNumber" Name="ImportNumber" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="4">
                <RadzenStack>
                    <RadzenFormField Text="Número de proforma" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Filter.ProformaNumber" Name="ProformaNumber" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="12">
                <RadzenStack>
                    <RadzenFormField Text="Número del pedido" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Filter.CustomerOrderNumber" Name="CustomerOrderNumber" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de pedido inicial" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.OrderDate.StartDate" Name="OrderStartDate" AllowClear=true Change="()=> Filter.OrderDate.EndDate = Filter.OrderDate.EndDate < Filter.OrderDate.StartDate ? Filter.OrderDate.StartDate : Filter.OrderDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de pedido final" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.OrderDate.EndDate" Name="OrderEndDate" AllowClear=true Min="Filter.OrderDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha estimada de entrega inicial" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.EstimatedDeliveryDate.StartDate" Name="EstimatedDeliveryStartDate" AllowClear=true Change="()=> Filter.EstimatedDeliveryDate.EndDate = Filter.EstimatedDeliveryDate.EndDate < Filter.EstimatedDeliveryDate.StartDate ? Filter.EstimatedDeliveryDate.StartDate : Filter.EstimatedDeliveryDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha estimada de entrega final" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.EstimatedDeliveryDate.EndDate" Name="EstimatedDeliveryEndDate" AllowClear=true Min="Filter.EstimatedDeliveryDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="12">
                <RadzenStack>
                    <RadzenFormField Text="Cliente" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Count="@countCustomers" LoadData="@LoadCustomerData" @ref="customersDropdown" Data="@Customers" TextProperty="CustomerName" ValueProperty="CustomerId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    style="display: block; width: 100%" @bind-Value="@Filter.CustomerId" Name="CustomerId" AllowFilteringByAllStringColumns="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="IdentityNumber" Title="Identificación" />
                                    <RadzenDropDownDataGridColumn Property="CustomerName" Title="Nombre" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">            
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Estado del pedido" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@StatusDocumentTypes" TextProperty="StatusDocumentTypeName" ValueProperty="StatusDocumentTypeId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="@Filter.StatusDocumentTypeId" Name="StatusDocumentId">
                            </RadzenDropDown>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>      
        
        <RadzenRow style="margin-bottom: 1rem">
            <MultiReferencePicker @ref="referencePicker" OnChange="ItemReferenceHandler"></MultiReferencePicker>
        </RadzenRow>

        @if (ValidationError)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar al menos un filtro</div>
        }
        @if (ValidationConfirmedDate)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar fecha de creación inicial y fecha de creación final</div>
        }
        @if (ValidationReceiptDate)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar fecha de solicitud inicial y fecha de solicitud final</div>
        }
        @if (ValidationEstimatedDeliveryDate)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar fecha esperada de recepción inicial y fecha esperada de recepción final</div>
        }
        @if (ValidationOrderDate)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar fecha esperada de recepción inicial y fecha esperada de recepción final</div>
        }        
        <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="filter_alt" Text="Filtrar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>