@page "/adjustments"
@attribute [Authorize(Roles = "Admin,Adjustment Viwer,Adjustment Editor")]
@using Aldebaran.Web.Resources.LocalizedControls;

<PageTitle>Adjustments</PageTitle>
<RadzenStack>
    @if (DialogResult != null && DialogResult.Success)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Success">
            @DialogResult.Message
        </RadzenAlert>
    }
    @if (DialogResult != null && !DialogResult.Success)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger">
            @DialogResult.Message
        </RadzenAlert>
    }
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12">
            <RadzenText Text="Ajustes de inventario" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
            <hr />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddButtonClick" Variant="Variant.Flat" Visible="@Security.IsInRole("Admin","Adjustment Editor")" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
        <RadzenColumn SizeMD=12>
            <LocalizedDataGrid @ref="grid0" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                               ExpandMode="DataGridExpandMode.Single" Data="@adjustments" TItem="Aldebaran.Application.Services.Models.Adjustment" RowExpand=@GetChildData AllowColumnPicking="true" PageSizeText="items per page" PagingSummaryFormat="Page {0} de {1} ({2} items)" IsLoading="@isLoadingInProgress">
                <Columns>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Property="AdjustmentDate" Title="Fecha de ajuste">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Property="AdjustmentType.AdjustmentTypeName" Title="Tipo de ajuste">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Property="AdjustmentReason.AdjustmentReasonName" Title="Motivo del ajuste">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Property="Employee.FullName" Title="Usuario aesponsable">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Property="StatusDocumentType.StatusDocumentTypeName" Title="Estado">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Property="Notes" Title="Notas" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Adjustment" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                        <Template Context="adjustment">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                          Click="@(args => EditRow(adjustment))" @onclick:stopPropagation="true"
                                          Visible="@CanEdit(adjustment)" title="Modificar ajuste">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                          Shade="Shade.Lighter" Variant="Variant.Flat" Visible="@CanEdit(adjustment)"
                                          Click=@(args => GridCancelButtonClick(args, adjustment)) @onclick:stopPropagation="true" title="Cancelar ajuste" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
                <Template Context="adjustment">
                    <RadzenStack Class="rz-my-8">
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="6">
                                <RadzenText Visible="@(adjustment != null)" Text="Referencias del ajuste" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                            </RadzenColumn>
                        </RadzenRow>
                        <LocalizedDataGrid ColumnWidth="200px" Visible="@(adjustment != null)" @ref=AdjustmentDetailsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                           Data="@adjustment?.AdjustmentDetails" TItem="Aldebaran.Application.Services.Models.AdjustmentDetail">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Property="Quantity" Title="Cantidad">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Title="Referencia">
                                    <Template Context="detail">
                                        <span>(@detail.ItemReference.Item.InternalReference) @detail.ItemReference.Item.ItemName - @detail.ItemReference.ReferenceName</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Property="Warehouse.WarehouseName" Title="Bodega">
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenStack>
                </Template>
            </LocalizedDataGrid>

        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
