@page "/edit-adjustment/{AdjustmentId}"

@attribute [Authorize(Roles = "Admin,Adjustment Editor")]
@using Aldebaran.Web.Resources.LocalizedControls;

<PageTitle>Modificar Ajuste de Inventario</PageTitle>
<RadzenCard>
    <RadzenStack>
        <RadzenTemplateForm TItem="Aldebaran.Application.Services.Models.Adjustment" Data="@adjustment" Visible="@(adjustment != null)" Submit="@FormSubmit">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenText Text="Modificar Ajuste de Inventario" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
                </RadzenColumn>
                <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">@errorMessage</RadzenAlert>
                </RadzenRow>
                <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                    <RadzenColumn SizeMD="6">
                        <RadzenStack>
                            <RadzenColumn SizeMD="3">
                                <RadzenLabel Text="Fecha del Ajuste" Component="ADJUSTMENT_DATE" style="width: 100%" />
                            </RadzenColumn>
                            <RadzenColumn SizeMD="9">
                                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@adjustment.AdjustmentDate" Name="ADJUSTMENT_DATE" Placeholder="Seleccione la fecha del ajuste" TabIndex="0" />
                                <RadzenRequiredValidator Text="La Fecha del ajuste es requerida" Component="ADJUSTMENT_DATE" />
                            </RadzenColumn>

                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenColumn SizeMD="3">
                                    <RadzenLabel Text="Motivo del Ajuste" Component="AdjustmentReason" style="width: 100%" />
                                </RadzenColumn>
                                <RadzenColumn SizeMD="9">
                                    <RadzenDropDownDataGrid Data="@adjustmentReasonsForADJUSTMENTREASONID" TextProperty="AdjustmentReasonName" ValueProperty="AdjustmentReasonId" AllowClear=true
                                                            Placeholder="Seleccione un motivo" style="display: block; width: 100%" @bind-Value="@adjustment.AdjustmentReasonId" Name="ADJUSTMENT_REASON_ID" TabIndex="1" />
                                    <RadzenRequiredValidator Component="ADJUSTMENT_REASON_ID" DefaultValue="0" Text="El Motivo del Ajuste es requerido "></RadzenRequiredValidator>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenColumn SizeMD="3">
                                    <RadzenLabel Text="Tipo de Ajuste" Component="AdjustmentType" style="width: 100%" />
                                </RadzenColumn>
                                <RadzenColumn SizeMD="9">
                                    <RadzenDropDownDataGrid Data="@adjustmentTypesForADJUSTMENTTYPEID" TextProperty="AdjustmentTypeName" ValueProperty="AdjustmentTypeId" AllowClear=true
                                                            Placeholder="Seleccione un tipo" style="display: block; width: 100%" @bind-Value="@adjustment.AdjustmentTypeId" Name="ADJUSTMENT_TYPE_ID" TabIndex="2" />
                                    <RadzenRequiredValidator Component="ADJUSTMENT_TYPE_ID" DefaultValue="0" Text="El Tipo de Ajuste es requerido"></RadzenRequiredValidator>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenColumn SizeMD="3">
                                    <RadzenLabel Text="Notas" Component="NOTES" style="width: 100%" />
                                </RadzenColumn>
                                <RadzenColumn SizeMD="9">
                                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@adjustment.Notes" Name="NOTES" Placeholder="Ingrese sus notas sobre el Ajuste" TabIndex="3" />
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn Size="6">
                        <RadzenStack>
                            <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                <RadzenColumn Size="12">
                                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                        <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddAdjustmentDetailButtonClick" />
                                    </RadzenStack>
                                </RadzenColumn>
                            </RadzenRow>
                            <LocalizedDataGrid @ref="adjustmentDetailGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                               Data="@adjustmentDetails" TItem="Aldebaran.Application.Services.Models.AdjustmentDetail">
                                <Columns>
                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Property="Quantity" Title="Cantidad" Width="100px" />
                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Title="Artículo/Referencia">
                                        <Template Context="detail">
                                            <span>(@detail.ItemReference.Item.InternalReference) @detail.ItemReference.Item.ItemName - @detail.ItemReference.ReferenceName</span>
                                    </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Property="Warehouse.WarehouseName" Title="Bodega" Width="100px">
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.AdjustmentDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                        <Template Context="detail">
                                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                          Click="@(args => EditRow(detail))" @onclick:stopPropagation="true" title="Modificar cantidad">
                                            </RadzenButton>
                                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                                          Click=@(args => DeleteAdjustmentDetailButtonClick(args, detail)) @onclick:stopPropagation="true" title="Eliminar artículo" />
                                        </Template>
                                    </RadzenDataGridColumn>
                                </Columns>
                            </LocalizedDataGrid>
                        </RadzenStack>
                    </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@isSubmitInProgress" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>
    </RadzenStack>
</RadzenCard>
