@using Aldebaran.Web.Models.ViewModels;
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<RadzenCard class="rz-col-12" Style="max-width: 100%">
    <NotificationTitle DataUpdate="@GridData_Update" GridTimer="@GridTimer" Title="Correo con error de envio" Timers="@Timers" />
    <RadzenCard Variant="Radzen.Variant.Text" class="px-0">
        <RadzenRow class="rz-m-1">
            <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        </RadzenRow>
        <RadzenRow class="rz-m-1">
            <LocalizedDataGrid Style="height: 100%" PageSize="@pageSize" @ref="notificationsWithErrorGrid" AllowFiltering="true" AllowPaging="true"
                               AllowSorting="true" ShowPagingSummary="true" Data="@notificationsWithError" TItem="Aldebaran.Application.Services.Models.NotificationWithError" IsLoading="@(GridTimer.IsLoading||isLoadingInProgress)">
                <Columns>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Property="Description" Title="Notificación" Width="80%"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Property="CustomerName" Title="Cliente" Width="80%"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Property="Reason" Title="Motivo" Width="80%"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Property="NotifiedMailList" Title="Correo(s) notificado(s)" Width="80%">
                        <Template Context="emailError">
                            <ul style="list-style:none">
                                @foreach (string mail in emailError.NotifiedMailList.Split(';'))
                                {
                                    <li>@mail</li>
                                }
                            </ul>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Property="NotificationDate" Title="Fecha envio" Width="40%">
                        <Template Context="emailError">
                            <span>@emailError.NotificationDate.ToString(SharedLocalizer["date:format"])</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Filterable="false" Sortable="false" Width="40%" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                        <Template Context="emailError">
                            <RadzenLink href="javascript:void(0);" @onclick="@(async (args) => await ReSendMail(emailError.EmailType, emailError.EmailId))">
                                Reenviar
                            </RadzenLink>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.NotificationWithError" Property="NotificationSendingErrorMessage" Title="Error" Width="90%"></RadzenDataGridColumn>
                </Columns>
            </LocalizedDataGrid>
        </RadzenRow>
    </RadzenCard>
</RadzenCard>
