@using Aldebaran.Web.Models.ViewModels;
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<RadzenCard class="rz-col-12" Style="max-width: 100%">
    <NotificationTitle TogglePanel="@TogglePanel" AlertVisible="@expiredReservationsAlertVisible" DataUpdate="@GridData_Update" GridTimer="@GridTimer" Title="Reservas vencidas"
                       IsPanelCollapsed="@isPanelCollapsed" Timers="@Timers" OnBoolChange="@HandleBoolChange" />
    <RadzenCard Visible="!isPanelCollapsed">
        <LocalizedDataGrid Style="height: 100%" PageSize="@pageSize" @ref="expiredReservationsGrid" AllowFiltering="true" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" Data="@expiredReservations" TItem="Aldebaran.Application.Services.Models.CustomerReservation" IsLoading="@(GridTimer.IsLoading||isLoadingInProgress)">
            <Columns>
                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="Customer.CustomerName" Title="Cliente" Width="80%"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="ReservationDate" Title="Fecha reserva" Width="50%">
                    <Template Context="customerReservation">
                        <span>@customerReservation.ReservationDate.ToString(SharedLocalizer["date:format"])</span>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Title="No. Reserva" Width="70%">
                    <Template Context="customerReservation">
                        <RadzenLink href="javascript:void(0);" @onclick="@(async (args) => await OpenCustomerReservation(customerReservation))">
                            @customerReservation.ReservationNumber
                        </RadzenLink>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerReservation" Property="ExpirationDate" Title="Fecha expiración" Width="50%">
                    <Template Context="customerReservation">
                        <span>@customerReservation.ExpirationDate.ToString(SharedLocalizer["date:format"])</span>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </LocalizedDataGrid>
    </RadzenCard>
</RadzenCard>
@code {
    private bool isPanelCollapsed = true;
    private string ToggleIcon => isPanelCollapsed ? "expand_more" : "expand_less";

    private void TogglePanel()
    {
        isPanelCollapsed = !isPanelCollapsed;
    }
}