@using Aldebaran.Web.Resources.LocalizedControls
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer
@inject Radzen.DialogService dialogService

<RadzenCard class="rz-col-12" Style="max-width: 100%">
    <NotificationTitle DataUpdate="@GridData_Update" GridTimer="@GridTimer" Title="Sobrepaso de cantidades mínimas en bodega local" Timers="@Timers" />
    <RadzenCard Variant="Radzen.Variant.Text" class="px-0">
        <RadzenRow class="rz-m-1">
            <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        </RadzenRow>
        <RadzenRow class="rz-m-1">
            <LocalizedDataGrid AllowRowSelectOnRowClick="false" PageSize="@pageSize" @ref="minimumQuantityArticlesGrid" AllowFiltering="true" AllowPaging="true" AllowSorting="true"
                               ShowPagingSummary="true" Data="@minimumQuantityArticles" TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle"
                               IsLoading="@(isLoadingInProgress||GridTimer.IsLoading)"
                               SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedAlarms>
                <Columns>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Width="40px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                                            Value="@(selectedAlarms == null || selectedAlarms?.Any() != true ? false : !minimumQuantityArticles.All(i => selectedAlarms.Contains(i)) ? null : minimumQuantityArticles.Any(i => selectedAlarms.Contains(i)))"
                                            Change="@(args => selectedAlarms = args == true ? minimumQuantityArticles.ToList() : null)"
                                            MouseEnter="@(args => ShowTooltip(args,"Marcar todas", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(selectedAlarms != null && selectedAlarms.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                                            TValue="bool" Change=@(args => { minimumQuantityArticlesGrid.SelectRow(data); })
                                            MouseEnter="@(args => ShowTooltip(args,"Marcar", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                        <Template Context="detail">
                            <RadzenButton Icon="image" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                          Click="@(args => ShowImageDialogAsync(@detail.ArticleName))"
                                          @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Ver imagen del producto", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Property="ArticleName" Title="Referencia" Width="80%">
                        <Template Context="detail">
                            <a href="javascript:;" title="@detail.ArticleName" @onclick="() => ReferenceMovementReport(detail.ReferenceId)">@detail.ArticleName</a>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Title="Cant. Mínima" Width="30%" Filterable="false">
                        <Template Context="detail">
                            @detail.MinimumQuantity.ToString("N0")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Title="Inventario" Width="30%" Filterable="false">
                        <Template Context="detail">
                            @detail.AvailableQuantity.ToString("N0")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Title="En Tránsito" Width="30%" Filterable="false">
                        <Template Context="detail">
                            @detail.InTransitQuantity.ToString("N0")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Title="Reservado" Width="30%" Filterable="false">
                        <Template Context="detail">
                            @detail.ReservedQuantity.ToString("N0")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Title="Pedido" Width="30%" Filterable="false">
                        <Template Context="detail">
                            @detail.OrderedQuantity.ToString("N0")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Title="Disponible" Width="30%" Filterable="false">
                        <Template Context="detail">
                            @{
                                var available = (@detail.AvailableQuantity + @detail.InTransitQuantity) - @detail.OrderedQuantity;
                            }
                            @available.ToString("N0")
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.MinimumLocalWarehouseQuantityArticle" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                        <Template Context="alarm">
                            <RadzenButton Icon="assignment_turned_in" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => DisableAlarm(alarm))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Ocultar alarma", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </LocalizedDataGrid>
        </RadzenRow>
    </RadzenCard>
</RadzenCard>

