@using Aldebaran.Web.Models.ViewModels;
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<RadzenCard class="rz-col-12" Style="max-width: 100%">
    <NotificationTitle DataUpdate="@GridData_Update" GridTimer="@GridTimer" Title="Ordenes de compra modificadas con pedido afectado" Timers="@Timers" />
    <RadzenCard Variant="Radzen.Variant.Text" class="px-0">
        <RadzenRow class="rz-m-1">
            <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
        </RadzenRow>
        <RadzenRow class="rz-m-1">
            <LocalizedDataGrid AllowRowSelectOnRowClick="false" RowExpand=@GetAlarmChildData ExpandMode="DataGridExpandMode.Single" Style="height: 100%" PageSize="@pageSize" @ref="purchaseOrderTransitAlarmsGrid" 
                               AllowFiltering="true" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" Data="@purchaseOrderTransitAlarms" TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" IsLoading="@GridTimer.IsLoading"
                               SelectionMode="DataGridSelectionMode.Multiple" @bind-Value=@selectedAlarms>
                <Columns>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Width="60px" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <RadzenCheckBox TabIndex="-1" TriState="false" TValue="bool?" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select all items" }})"
                                            Value="@(selectedAlarms == null || selectedAlarms?.Any() != true ? false : !purchaseOrderTransitAlarms.All(i => selectedAlarms.Contains(i)) ? null : purchaseOrderTransitAlarms.Any(i => selectedAlarms.Contains(i)))"
                                            Change="@(args => selectedAlarms = args == true ? purchaseOrderTransitAlarms.ToList() : null)"
                                            MouseEnter="@(args => ShowTooltip(args,"Marcar todas", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                        </HeaderTemplate>
                        <Template Context="data">
                            <RadzenCheckBox TabIndex="-1" TriState="false" Value="@(selectedAlarms != null && selectedAlarms.Contains(data))" InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select item" }})"
                                            TValue="bool" Change=@(args => { purchaseOrderTransitAlarmsGrid.SelectRow(data); })
                                            MouseEnter="@(args => ShowTooltip(args,"Marcar", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Property="ModifiedPurchaseOrder.PurchaseOrder.OrderNumber" Title="No. orden" Width="40%"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Title="Fecha est. recibo anterior" Width="50%">
                        <Template Context="alarm">
                            <span>@alarm.OldExpectedReceiptDate.ToString(SharedLocalizer["date:format"])</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Title="Fecha est. recibo actual" Width="50%">
                        <Template Context="alarm">
                            <span>@alarm.ModifiedPurchaseOrder.PurchaseOrder.ExpectedReceiptDate.ToString(SharedLocalizer["date:format"])</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Property="ModifiedPurchaseOrder.PurchaseOrder.Provider.ProviderName" Title="Proveedor" Width="80%"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Property="ModifiedPurchaseOrder.ModificationDate" Title="Fecha modificación" Width="80%">
                        <Template Context="alarm">
                            <span>@alarm.ModifiedPurchaseOrder.ModificationDate.ToString(SharedLocalizer["date:format"])</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Property="ModifiedPurchaseOrder.ModificationReason.ModificationReasonName" Title="Motivo modificación" Width="80%"></RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderTransitAlarm" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                        <Template Context="purchaseOrderTransitAlarm">
                            <RadzenButton Icon="assignment_turned_in" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => DisablePurchaseOrderTransitAlarm(purchaseOrderTransitAlarm))" @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Ocultar Alarma", new TooltipOptions(){ Position = TooltipPosition.Left }))">
                            </RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
                <Template Context="alarmNotifications">
                    <RadzenStack Class="rz-my-8">
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12" SizeMD="6">
                                <RadzenText Visible="@(purchaseOrderTransitAlarms != null)" Text="Pedidos afectados" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                            </RadzenColumn>
                        </RadzenRow>
                        <LocalizedDataGrid Visible="@(purchaseOrderTransitAlarms != null)" @ref=PurchaseOrderNotificationsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30}) Data="@purchaseOrderNotifications" TItem="Aldebaran.Application.Services.Models.PurchaseOrderNotification">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderNotification" Title="Fecha modificación">
                                    <Template Context="notification">
                                        <span>@notification.ModifiedPurchaseOrder.ModificationDate.ToString(SharedLocalizer["date:format"])</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderNotification" Property="ModifiedPurchaseOrder.ModificationReason.ModificationReasonName" Title="Motivo"></RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderNotification" Property="CustomerOrder.Customer.CustomerName" Title="Cliente"></RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderNotification" Title="No. Pedido">
                                    <Template Context="notification">
                                        <RadzenLink href="javascript:void(0);" @onclick="@(async (args) => await CustomerOrderDetailInfo(notification.CustomerOrder.CustomerOrderId))">
                                            @notification.CustomerOrder.OrderNumber
                                        </RadzenLink>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.PurchaseOrderNotification" Title="Fecha pactada de entrega">
                                    <Template Context="notification">
                                        <span>@notification.CustomerOrder.EstimatedDeliveryDate.ToString(SharedLocalizer["date:format"])</span>
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenStack>
                </Template>
            </LocalizedDataGrid>
        </RadzenRow>
    </RadzenCard>
</RadzenCard>
