@page "/"
@attribute [Authorize]
@using Aldebaran.Web.Models.ViewModels;
@using Aldebaran.Web.Resources.LocalizedControls;
@using Aldebaran.Web.Pages.DashboardNotificationComponents;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<PageTitle>Notificaciones</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenRow class="mb-2 mt-0">
        <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="6" SizeXX="12" SizeXS="12" class="d-flex align-items-end">
            <RadzenText Text="Tablero de notificaciones" TextStyle="Radzen.Blazor.TextStyle.DisplayH5" TagName="Radzen.Blazor.TagName.Auto" class="p-0 m-0"></RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="6" SizeXX="12" SizeXS="12">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.End">
                <RadzenFormField Variant="Variant.Text">
                    <RadzenDropDown @bind-Value="@GridTimer.SelectedTimer" Data="@Timers" ValueProperty="Milliseconds" TextProperty="Description" Name="MinimumQuantityDropDownTimer" Change="@((args)=>GridaData_UpdateOnTimerChange(args))" />
                </RadzenFormField>
                <RadzenButton Click="@GridData_Update" Icon="refresh" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" class="d-flex align-items-end rz-button-icon-only rz-border-radius-10" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.End" class="pt-1">
                <p class="p-0 m-0 text-end fw-lighter text-muted">
                    Última actualización: @GridTimer.LastUpdate.ToString(SharedLocalizer["datetime:format"])
                </p>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>

    <RadzenColumn>
        <RadzenTabs TabPosition="TabPosition.Left" RenderMode="TabRenderMode.Client">
            <Tabs>
                <RadzenTabsItem Visible="@(minimumQuantityNotificatioVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(1))" Visible="@minimumQuantityAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Sobrepaso de<br>cantidades mínimas<br>por referencia
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <MinimumQuantityNotifications @ref="minimumQuantityNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(outOfStockNotificatioVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(2))" Visible="@outOfStockAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Inventario sin stock
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <OutOfStockNotifications @ref="outOfStockNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(LocalWarehouseNotificatioVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(10))" Visible="@LocalWarehouseAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Ingreso de<br>mercancía a<br>bodega local
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <LocalWarehouseNotifications @ref="@localWarehouseNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(userAlarmNotificationVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(3))" Visible="@userAlarmAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Alarmas del día
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <UserAlarmNotifications @ref="userAlarmNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>               

                <RadzenTabsItem Visible="@(minimumLocalWarehouseQuantityNotificatioVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(9))" Visible="@minimumLocalWarehouseQuantityAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Sobrepaso de<br>cantidades mínimas<br>en bodega local
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <MinimumLocalWarehouseQuantityNotifications @ref="minimumLocalWarehouseQuantityNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(expiredReservationNotificationVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(4))" Visible="@expiredReservationAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Reservas vencidas
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <ExpiredReservationNotifications @ref="expiredReservationNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(confirmedPurchaseOrderNotificationsVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(11))" Visible="@confirmedPurchaseOrderAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Confirmación automatica <br>de pedidos
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <ConfirmedPurchaseOrderNotifications @ref="confirmedPurchaseOrderNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(customerOrderExpirationNotificationVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(5))" Visible="@customerOrderExpirationAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Pedidos vencidos
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <CustomerOrderExpirationNotifications @ref="customerOrderExpirationNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(purchaseOrderExpirationNotificationVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(6))" Visible="@purchaseOrderExpirationAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Ordenes de compra <br>vencidas
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <PurchaseOrderExpirationNotifications @ref="purchaseOrderExpirationNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(purchaseOrderTransitAlarmNotificationsVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(7))" Visible="@purchaseOrderTransitAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Ordenes de compra <br>modificadas con <br>pedido afectado
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <PurchaseOrderTransitAlarmNotifications @ref="purchaseOrderTransitAlarmNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>

                <RadzenTabsItem Visible="@(emailErrorNotificationsVisible)">
                    <Template>
                        <div style="display: flex; align-items: center; margin-bottom: 5px; height: 40px; width: 150px">
                            <RadzenImage Click="@(() => AlertClick(8))" Visible="@emailErrorAlertVisible" Path="images/alert.gif" Style="width: 25px; height: 20px; vertical-align: middle; margin-right: 2px;" />Correos con error <br>de envío
                        </div>
                    </Template>
                    <ChildContent>
                        <RadzenRow class="mb-2">
                            <EmailWithErrorNotifications @ref="emailWithErrorNotifications" OnAlertVisibleChanged="@UpdateAlert" />
                        </RadzenRow>
                    </ChildContent>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenColumn>
}