@page "/"
@attribute [Authorize]
@using Aldebaran.Web.Models.ViewModels;
@using Aldebaran.Web.Resources.LocalizedControls;
@using Aldebaran.Web.Pages.DashboardNotificationComponents;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<PageTitle>Notificaciones</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenRow class="mb-2">
        <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="6" SizeXX="12" SizeXS="12" class="d-flex align-items-end">
            <RadzenText Text="Tablero de notificaciones" TextStyle="Radzen.Blazor.TextStyle.DisplayH5" TagName="Radzen.Blazor.TagName.Auto" class="p-0 m-0"></RadzenText>
        </RadzenColumn>
        <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="6" SizeXX="12" SizeXS="12">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.End">
                <RadzenFormField Variant="Variant.Text">
                    <RadzenDropDown @bind-Value="@GridTimer.SelectedTimer" Data="@Timers" ValueProperty="Milliseconds" TextProperty="Description" Name="MinimumQuantityDropDownTimer" Change="@((args)=>GridaData_UpdateOnTimerChange(args))" />
                </RadzenFormField>
                <RadzenButton Click="@GridData_Update" Icon="refresh" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" class="d-flex align-items-end rz-button-icon-only rz-border-radius-10" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" Gap="1rem" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.End" class="pt-1">
                <p class="p-0 m-0 text-end fw-lighter text-muted">
                    Última actualización: @GridTimer.LastUpdate.ToString(SharedLocalizer["datetime:format"])
                </p>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow Visible="@(minimumQuantityNotificatioVisible||userAlarmNotificationVisible||outOfStockNotificatioVisible||expiredReservationNotificationVisible)">
        <RadzenColumn Visible="@(minimumQuantityNotificatioVisible||userAlarmNotificationVisible)" SizeLG=@GetSizePanelA() SizeXL=@GetSizePanelA() SizeMD=@GetSizePanelA() SizeSM=@GetSizePanelA() SizeXX="12" SizeXS="12">
            <RadzenRow Visible="@(minimumQuantityNotificatioVisible)" class="mb-2">
                <MinimumQuantityNotifications @ref="minimumQuantityNotifications" PendingStatusOrderId="@pendingStatusOrder.StatusDocumentTypeId" />
            </RadzenRow>
            <RadzenRow Visible="@(userAlarmNotificationVisible)" class="mb-2">
                <UserAlarmNotifications @ref="userAlarmNotifications" />
            </RadzenRow>
        </RadzenColumn>
        <RadzenColumn Visible="@(outOfStockNotificatioVisible||expiredReservationNotificationVisible)" SizeLG=@GetSizePanelB() SizeXL=@GetSizePanelB() SizeMD=@GetSizePanelB() SizeSM=@GetSizePanelB() SizeXX="12" SizeXS="12">
            <RadzenRow Visible="@(outOfStockNotificatioVisible)" class="mb-2">
                <OutOfStockNotifications @ref="outOfStockNotifications" PendingStatusOrderId="@pendingStatusOrder.StatusDocumentTypeId" />
            </RadzenRow>
            <RadzenRow Visible="@(expiredReservationNotificationVisible||expiredReservationNotificationVisible)" class="mb-2">
                <ExpiredReservationNotifications @ref="expiredReservationNotifications" />
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow Visible="@(customerOrderExpirationNotificationVisible)" class="mb-2">
        <CustomerOrderExpirationNotifications @ref="customerOrderExpirationNotifications" />
    </RadzenRow>
    <RadzenRow Visible="(purchaseOrderExpirationNotificationVisible)" class="mb-2">
        <PurchaseOrderExpirationNotifications @ref="purchaseOrderExpirationNotifications" />
    </RadzenRow>
    <RadzenRow Visible="(purchaseOrderTransitAlarmNotificationsVisible)" class="mb-2">
        <PurchaseOrderTransitAlarmNotifications @ref="purchaseOrderTransitAlarmNotifications" />
    </RadzenRow>
    <RadzenRow Visible="(emailErrorNotificationsVisible)" class="mb-2">
        <EmailWithErrorNotifications @ref="emailWithErrorNotifications" />
    </RadzenRow>
}
@code {
    private int sizePanelA = 6;
    private int sizePanelB = 6;

    private int GetSizePanelA()
    {
        if (!(outOfStockNotificatioVisible||expiredReservationNotificationVisible)){
            sizePanelA = 12;
        }
        return sizePanelA;
    }

    private int GetSizePanelB()
    {
        if (!(minimumQuantityNotificatioVisible || userAlarmNotificationVisible))
        {
            sizePanelB = 12;
        }
        return sizePanelB;
    }
}
