@page "/profile"
@attribute [Authorize]
@using ServiceModel = Aldebaran.Application.Services.Models;

<PageTitle>Perfil</PageTitle>
<RadzenCard>
    <RadzenStack>
        @if (DialogResult != null && DialogResult.Success)
        {
            <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Success">@DialogResult.Message</RadzenAlert>
        }
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="12">
                <RadzenText Text="Perfil" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@IsErrorVisible" Title="No se ha podido actualizar su información">
                @Error
            </RadzenAlert>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Start" Gap="2rem" class="mt-2">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <div class="flex-shrink-0">
                        <div class="text-secondary-color">
                            <span>@Employee?.IdentityType?.IdentityTypeCode</span>. <span>@Employee?.IdentityNumber</span>
                        </div>
                        <div class="text-secondary-color">
                            <span>Area: </span> <span>@Employee?.Area?.AreaName</span>
                        </div>
                        <div class="text-secondary-color">
                            <span>Cargo: </span> <span>@Employee?.Position</span>
                        </div>
                    </div>
                    <RadzenTemplateForm Method="post" Submit="@EmployeeFormSubmit" TItem="ServiceModel.Employee" Visible="@(Employee != null)" Data="@Employee">
                        <RadzenStack>
                            <RadzenFormField Text="Nombre" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenTextBox style="width: 100%" @bind-Value="@(Employee.FullName)" Name="FullName" MaxLength="50"    />
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="FullName" Text="Nombre es requerido"  />
                                </Helper>
                            </RadzenFormField>
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem" style="margin-top:1rem;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
                        </RadzenStack>
                    </RadzenTemplateForm>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenTemplateForm Method="post" Submit="@ApplicationUserFormSubmit" TItem="Aldebaran.Web.Models.ApplicationUser" Visible="@(ApplicationUser != null)" Data="@ApplicationUser">
                        <RadzenStack>
                            <RadzenFormField Text="Contraseña anterior" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenPassword style="width: 100%" @bind-Value="@OldPassword" Name="OldPassword" AutoCompleteType="Radzen.Blazor.AutoCompleteType.CurrentPassword" />
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="OldPassword" Text="Contraseña actual es requerida" />
                                </Helper>
                            </RadzenFormField>
                            <RadzenFormField Text="Nueva contraseña" Variant="Variant.Text" Style="width: 100%;" >
                                <ChildContent>
                                    <RadzenPassword style="width: 100%" @bind-Value="@NewPassword" Name="NewPassword" AutoCompleteType="Radzen.Blazor.AutoCompleteType.NewPassword" />
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="NewPassword" Text="Nueva contraseña es requerida" />
                                </Helper>
                            </RadzenFormField>
                            <RadzenFormField Text="Confirmar contraseña" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenPassword style="width: 100%" @bind-Value="@ConfirmPassword" Name="ConfirmPassword" />
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="ConfirmPassword" Text="Confirmación de contraseña es requerida" />
                                    <RadzenCompareValidator Component="ConfirmPassword" Text="Las contraseñas deben ser las mismas" Value="@NewPassword" />
                                </Helper>
                            </RadzenFormField>
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem" style="margin-top:1rem;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Cambiar contraseña" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
                        </RadzenStack>
                    </RadzenTemplateForm>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
</RadzenCard>