<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")">
            @if (forwarder == null || agent == null)
            {
                <span>Transportadora</span>
            }
            else
            {
                <span>(@forwarder?.FORWARDER_NAME) @agent?.FORWARDER_AGENT_NAME</span>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenFormField Text="Transportadora" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Data="@forwarders" TextProperty="FORWARDER_NAME" ValueProperty="FORWARDER_ID" AllowClear=true
                                                    style="display: block; width: 100%" @bind-Value="FORWARDER_ID" Name="FORWARDER_ID" Change="@OnForwarderChange" AllowFiltering="true" ClearSearchAfterSelection="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="FORWARDER_NAME" Title="Nombre" />
                                    <RadzenDropDownDataGridColumn Property="FORWARDER_ADDRESS" Title="Direcci贸n" />
                                    <RadzenDropDownDataGridColumn Property="City.CITY_ID" Title="Ubicaci贸n">
                                        <Template Context="provider">
                                            <span>(@provider.City.Department.Country.COUNTRY_CODE) @provider.City.Department.DEPARTMENT_NAME - @provider.City.CITY_NAME</span>
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow class="mt-2">
                <RadzenColumn Size="12">
                    <RadzenFormField Text="Agente" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Data="@agents" TextProperty="FORWARDER_AGENT_NAME" ValueProperty="FORWARDER_AGENT_ID" AllowClear=true
                                                    style="display: block; width: 100%" @bind-Value="FORWARDER_AGENT_ID" Name="FORWARDER_AGENT_ID" Change="@OnForwarderAgentChange" AllowFiltering="true" ClearSearchAfterSelection="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="FORWARDER_AGENT_NAME" Title="Nombre" />
                                    <RadzenDropDownDataGridColumn Property="FORWARDER_AGENT_ADDRESS" Title="Direcci贸n" />
                                    <RadzenDropDownDataGridColumn Property="CONTACT" Title="Contacto" />
                                    <RadzenDropDownDataGridColumn Property="City.CITY_ID" Title="Ubicaci贸n">
                                        <Template Context="provider">
                                            <span>(@provider.City.Department.Country.COUNTRY_CODE) @provider.City.Department.DEPARTMENT_NAME - @provider.City.CITY_NAME</span>
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>