@inject Microsoft.Extensions.Localization.IStringLocalizer<AgentForwarderPicker> L
<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")">
            @if (Forwarder == null || ForwarderAgent == null)
            {
                <span>Transportadora</span>
            }
            else
            {
                <div class="component-section d-flex flex-column justify-content-start">
                    <span class="component-label">Transportadora</span>
                    <span>(@Forwarder?.ForwarderName) @ForwarderAgent?.ForwarderAgentName</span>
                </div>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn Size="12">
                    <RadzenFormField Text="Transportadora" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Data="@Forwarders" TextProperty="ForwarderName" ValueProperty="ForwarderId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    style="display: block; width: 100%" @bind-Value="FORWARDER_ID" Name="ForwarderId" Change="@OnForwarderChange" AllowFiltering="true" ClearSearchAfterSelection="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="ForwarderName" Title="Nombre" />
                                    <RadzenDropDownDataGridColumn Property="ForwarderAddress" Title="Direcci贸n" />
                                    <RadzenDropDownDataGridColumn Property="City.CityId" Title="Ubicaci贸n">
                                        <Template Context="provider">
                                            <span>(@provider.City.Department.Country.CountryCode) @provider.City.Department.DepartmentName - @provider.City.CityName</span>
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow class="mt-2">
                <RadzenColumn Size="12">
                    <RadzenFormField Text="Agente" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Data="@ForwarderAgents" TextProperty="ForwarderAgentName" ValueProperty="ForwarderAgentId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    style="display: block; width: 100%" @bind-Value="FORWARDER_AGENT_ID" Name="ForwarderAgentId" Change="@OnForwarderAgentChange" AllowFiltering="true" ClearSearchAfterSelection="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="ForwarderAgentName" Title="Nombre" />
                                    <RadzenDropDownDataGridColumn Property="ForwarderAgentAddress" Title="Direcci贸n" />
                                    <RadzenDropDownDataGridColumn Property="Contact" Title="Contacto" />
                                    <RadzenDropDownDataGridColumn Property="City.CityId" Title="Ubicaci贸n">
                                        <Template Context="provider">
                                            <span>(@provider.City.Department.Country.CountryCode) @provider.City.Department.DepartmentName - @provider.City.CityName</span>
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>