@using Aldebaran.Web.Models.ViewModels;
@using Aldebaran.Web.Resources.LocalizedControls;
@using System.Drawing
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer

<RadzenPanel Class="rz-mx-auto toggle-panel">
    <RadzenStack style="margin: 1rem 0; gap:0.5rem">
        <RadzenRow>
            <RadzenLabel Text="Inventario" class="text-primary-color" Style="font-size: 16px;" />
        </RadzenRow>
        <RadzenCard Variant="Variant.Filled" Class="rz-my-0 rz-mx-auto mt-0">
            <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                <RadzenColumn SizeMD="6" class="d-flex flex-column gap-3">
                    <RadzenRow Style="gap:0">
                        <div class="text-secondary-color">
                            <RadzenLabel Text="En bodega: " />   
                            <span style="color:black;font-weight:bold;">@WarehouseAvailable.ToString("N0")</span>
                        </div>
                        <LocalizedDataGrid @ref="ReferencesWarehouseGrid" AllowFiltering="false" AllowPaging="false" AllowSorting="false" ShowPagingSummary="false"
                                           Data="@ReferencesWarehouses" TItem="Aldebaran.Application.Services.Models.ReferencesWarehouse">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.ReferencesWarehouse" Property="Warehouse.WarehouseName" Title="Bodega" Width="50%" />
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.ReferencesWarehouse" Title="Cantidad" Width="50%">
                                    <Template Context="detail">
                                        @detail.Quantity.ToString("N0")
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenRow>
                    <RadzenRow Style="gap:0">
                        <div class="text-secondary-color">
                            <RadzenLabel Text="En transito: " />                              
                            <span style="color:black;font-weight:bold;">@TransitAvailable.ToString("N0")</span>
                        </div>
                        <LocalizedDataGrid @ref="GroupPurchaseOrderDetailGrid" AllowFiltering="false" AllowPaging="false" AllowSorting="false" ShowPagingSummary="false"
                                           Data="@GroupPurchaseOrderDetails" TItem="GroupPurchaseOrderDetail">
                            <Columns>
                                <RadzenDataGridColumn TItem="GroupPurchaseOrderDetail" Property="ExpectedReceiptDate" Title="Fecha Est." Width="50%">
                                    <Template Context="detail">
                                        <span>@detail.ExpectedReceiptDate.ToString(SharedLocalizer["date:format"])</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="GroupPurchaseOrderDetail" Property="Quantity" Title="Cantidad" Width="50%">
                                    <Template Context="detail">
                                        @detail.Quantity.ToString("N0")
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenRow>
                </RadzenColumn>
                <RadzenColumn SizeMD="6" class="d-flex flex-column gap-3">
                    <RadzenRow Style="gap:0">
                        <div class="text-secondary-color">   
                            <RadzenLabel Text="Disponible: " />
                            <span style="color:black;font-weight:bold;">@Available.ToString("N0")</span>
                        </div>
                        <LocalizedDataGrid @ref="ItemReferenceInventoryGrid" AllowFiltering="false" AllowPaging="false" AllowSorting="false" ShowPagingSummary="false" class="no-header"
                                           Data="@ItemReferenceInventories" TItem="ItemReferenceInventory">
                            <Columns>
                                <RadzenDataGridColumn TItem="ItemReferenceInventory" Property="Type" Title="" Width="50%" />
                                <RadzenDataGridColumn TItem="ItemReferenceInventory" Property="Quantity" Title="Cantidad" Width="50%">
                                    <Template Context="detail">
                                        @detail.Quantity.ToString("N0")
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenRow>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </RadzenStack>
</RadzenPanel>