<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")" Disabled="@ReadOnly">
            @if (SelectedItem == null)
            {
                <span>Artículo</span>
            }
            else
            {
                <div class="component-section d-flex flex-column justify-content-start">
                    <span class="component-label">Artículo</span>
                    <span>(@SelectedLine?.LineName) @SelectedItem?.ItemName</span>
                </div>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Linea" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@Lines" TextProperty="LineName" ValueProperty="LineId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="LINE_ID" Name="LineId" Change="@OnLineChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Árticulo" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@Items" TextProperty="ItemName" ValueProperty="ItemId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="ITEM_ID" Name="ItemId" Change="@OnItemChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>