@using Microsoft.Extensions.Options
@using Aldebaran.Web.Models
@inject IOptions<AppSettings> settings;

<RadzenPanel AllowCollapse="true" class="rz-my-00 rz-mx-auto" Style="width: 100%;" Visible="@(SelectedItem != null)">
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.Body2" class="rz-display-flex rz-align-items-center rz-m-0">
            <RadzenIcon Icon="image" class="rz-me-1" /><b>Imagen del artículo</b>
        </RadzenText>
    </HeaderTemplate>
    <ChildContent>
        <RadzenStack Orientation="Orientation.Vertical" Style="margin-bottom: 15px;">
            <RadzenRow Gap="2rem"
                       Style="margin-bottom: 5px;">                       
                <RadzenColumn Size="12" Style="display: flex; justify-content: center; align-items: center; height: 100%;">
                    @{
                        AppSettings _settings = _settings = settings?.Value ?? throw new ArgumentNullException(nameof(IOptions<AppSettings>));
                        string imagePath = Path.Combine(_settings.ImageRepositoryPath, SelectedItem?.InternalReference + ".jpg");

                        // Validar si el archivo existe
                        var imageExists = System.IO.File.Exists(imagePath);
                        if (imageExists)
                        {
                            var imageUrl = "/externalimages/" + SelectedItem?.InternalReference + ".jpg";
                            <RadzenImage Path=@imageUrl style="max-width:30%; height:auto;" />
                        }
                        else
                        {
                            <p>Imagen no disponible.</p>
                        }
                    }
                </RadzenColumn>
            </RadzenRow>
        </RadzenStack>
    </ChildContent>
</RadzenPanel>
<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")" Disabled="@ReadOnly">
            @if (SelectedItem == null)
            {
                <span>Artículo</span>
            }
            else
            {
                <div class="component-section d-flex flex-column justify-content-start">
                    <span class="component-label">Artículo</span>
                    <span>[@SelectedItem?.InternalReference] @SelectedItem?.FullName</span>
                </div>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Linea" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@Lines" TextProperty="LineName" ValueProperty="LineId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Disabled="@ReadOnly"
                                            style="display: block; width: 100%" @bind-Value="LINE_ID" Name="LineId" Change="@OnLineChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="6" SizeXL="6" SizeMD="6" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Artículo" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Data="@Items" TextProperty="FullName" ValueProperty="ItemId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Disabled="@ReadOnly"
                                                    style="display: block; width: 100%" @bind-Value="ITEM_ID" Name="ItemId" Change="@OnItemChange" AllowFiltering="true" AllowSelectAll="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="InternalReference" Title="Ref. interna" />
                                    <RadzenDropDownDataGridColumn Property="ItemName" Title="Nombre" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>