<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")">
            @if (city == null)
            {
                <span>Ubicación</span>
            }
            else
            {
                <span>(@country?.COUNTRY_CODE) @department?.DEPARTMENT_NAME - @city?.CITY_NAME</span>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Pais" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@countries" TextProperty="COUNTRY_NAME" ValueProperty="COUNTRY_ID" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="COUNTRY_ID" Name="COUNTRY_ID" Change="@OnCountryChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Departamento" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@departments" TextProperty="DEPARTMENT_NAME" ValueProperty="DEPARTMENT_ID" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="DEPARTMENT_ID" Name="DEPARTMENT_ID" Change="@OnDepartmentChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Ciudad" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@cities" TextProperty="CITY_NAME" ValueProperty="CITY_ID" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="CITY_ID" Name="CITY_ID" Change="@OnCityChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>