@inherits LayoutComponentBase
@inject Microsoft.Extensions.Localization.IStringLocalizer<MainLayout> L
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
            <RadzenColumn Size="5">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <RadzenColumn Size="7">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick" class="layout-toolbar">
                        <ChildContent>
                            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Perfil" />
                            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Inicios de sesión" />
                            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" />
                            <RadzenProfileMenuItem Text="Cerrar sesión" Value="Logout" Icon="power_settings_new" />
                        </ChildContent>
                        <Template>
                            <div class="d-flex gap-2 align-items-center">
                                <div style="margin: 0 0.5em;">
                                    @(LoggedEmployee?.DisplayName ?? LoggedEmployee?.FullName)<br />
                                    <span class="d-block text-end fw-bold">
                                        @Security.User?.Name
                                    </span>
                                </div>
                                <RadzenGravatar Email="@Security.User?.Name" onerror="this.style.display = 'none'" />
                            </div>
                        </Template>
                    </RadzenProfileMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px;">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2">
        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <RadzenImage Path="images/aldebaran-icon.svg" style="width: 32px;"></RadzenImage>
            <RadzenImage Path="images/aldebaran-text.svg" style="width: 150px;"></RadzenImage>
        </RadzenStack>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Tablero de notificaciones" Icon="dashboard" Path="" />
            <RadzenPanelMenuItem Text="Administración" Icon="admin_panel_settings">
                <RadzenPanelMenuItem Text="Artículos" Path="items" Visible="@Security.IsInRole("Administrador","Modificación de artículos","Consulta de artículos")" />
                <RadzenPanelMenuItem Text="Artículos por áreas" Path="areas" Visible="@Security.IsInRole("Administrador","Modificación de artículos por área","Consulta de artículos por área")" />
                <RadzenPanelMenuItem Text="Transportadoras" Path="forwarders" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte","Consulta de agentes de transporte")" />
                <RadzenPanelMenuItem Text="Funcionarios" Path="employees" Visible="@Security.IsInRole("Administrador","Modificación de funcionarios","Consulta de funcionarios")" />
                <RadzenPanelMenuItem Text="Alarmas por funcionario" Path="employee-alarms" Visible="@Security.IsInRole("Administrador","Consulta de alarmas por usuario","Asignación de alarmas por usuario")" />
                <RadzenPanelMenuItem Text="Clientes" Path="customers" Visible="@Security.IsInRole("Administrador","Modificación de clientes","Consulta de clientes")" />
                <RadzenPanelMenuItem Text="Proveedores" Path="providers" Visible="@Security.IsInRole("Administrador","Modificación de proveedores","Consulta de proveedores")" />
                @if (Security.IsInRole("Administrador"))
                {
                    <hr class="divider">
                    <RadzenPanelMenuItem Text="Notificaciones" Path="email-notification-settings" />
                }
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Movimientos de Inventario" Icon="extension">
                <RadzenPanelMenuItem Text="Ordenes de compra" Path="purchase-orders" Visible=@Security.IsInRole("Administrador","Consulta de órdenes de compra","Creación de órdenes de compra","Modificación de órdenes de compra","Confirmación de órdenes de compra","Cancelación de órdenes de compra") />
                <RadzenPanelMenuItem Text="Reserva de artículos" Path="customer-reservations" Visible=@Security.IsInRole("Administrador","Consulta de reservas","Modificación de reservas") />
                <RadzenPanelMenuItem Text="Pedido de artículos" Path="customer-orders" Visible=@Security.IsInRole("Administrador","Consulta de pedidos","Modificación de pedidos","Creación de pedidos","Cierre de pedidos","Cancelción de pedidos","Descarga de formato de pedidos") />
                <RadzenPanelMenuItem Text="Traslado de pedidos a proceso " Path="process-customer-orders" Visible=@Security.IsInRole("Administrador","Consulta de pedidos en proceso","Modificación de pedidos en proceso") />
                <RadzenPanelMenuItem Text="Despacho de pedidos procesados" Path="shipment-customer-orders" Visible=@Security.IsInRole("Administrador","Consulta de despachos","Modificación de despachos") />
                <RadzenPanelMenuItem Text="Ajustes de inventario" Path="adjustments" Visible=@Security.IsInRole("Administrador","Modificación de ajustes de inventario","Consulta de ajustes de inventario") />
                <RadzenPanelMenuItem Text="Traslado entre bodegas" Path="warehouse-transfers" Visible=@Security.IsInRole("Administrador","Modificación de traslados entre bodegas","Consulta de traslados entre bodegas") />
                @if (Security.IsInRole("Administrador", "Consulta de solicitudes de cancelación de ordenes de compra", "Consulta de solicitudes de cancelación de pedidos", "Consulta de solicitudes de cierre de pedidos", "Aprobación de solicitudes de cancelación de ordenes de compra", "Aprobación de solicitudes de cancelación de pedidos", "Aprobación de solicitudes de cierre de pedidos"))
                {
                    <hr class="divider">
                    <RadzenPanelMenuItem Text="Gestion de Solicitudes Operativas" Icon="assessment">
                        <RadzenPanelMenuItem Text="Solicitudes operativas atendidas" Path="attended-operative-request" Visible=@Security.IsInRole("Administrador","Consulta de solicitudes de cancelación de ordenes de compra","Consulta de solicitudes de cancelación de pedidos","Consulta de solicitudes de cierre de pedidos") />
                        <RadzenPanelMenuItem Text="Solicitudes operativas pendientes" Path="pending-operative-request" Visible=@Security.IsInRole("Administrador","Aprobación de solicitudes de cancelación de ordenes de compra","Aprobación de solicitudes de cancelación de pedidos","Aprobación de solicitudes de cierre de pedidos") />
                    </RadzenPanelMenuItem>
                }
                @if (Security.IsInRole("Administrador", "Log de ordenes de compra", "Log de pedidos", "Log de reservas"))
                {
                    <hr class="divider">
                    <RadzenPanelMenuItem Text="Consulta de Log" Icon="history">
                        <RadzenPanelMenuItem Text="Log de ordenes" Icon="shopping_bag" Visible=@Security.IsInRole("Administrador","Log de ordenes de compra")>
                            <RadzenPanelMenuItem Text="Modificación" Path="purchase_order_modify_log"/>
                            <RadzenPanelMenuItem Text="Cancelación" Path="purchase_order_cancel_log" />
                        </RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Log de pedidos" Icon="shopping_cart" Visible=@Security.IsInRole("Administrador","Log de pedidos")>
                            <RadzenPanelMenuItem Text="Modificación" Path="customer_order_modify_log" />
                            <RadzenPanelMenuItem Text="Cancelación" Path="customer_order_cancel_log" />
                            <RadzenPanelMenuItem Text="Cierre" Path="customer_order_close_log" />
                        </RadzenPanelMenuItem>
                        <RadzenPanelMenuItem Text="Log de reservas" Icon="shopping_basket" Visible=@Security.IsInRole("Administrador","Log de reservas")>
                            <RadzenPanelMenuItem Text="Modificación" Path="customer_reservation_modify_log" />
                            <RadzenPanelMenuItem Text="Cancelación" Path="customer_reservation_cancel_log" />
                        </RadzenPanelMenuItem>
                    </RadzenPanelMenuItem>
                }
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Reportes" Icon="summarize">
                <RadzenPanelMenuItem Text="Inventario" Icon="summarize">
                    <RadzenPanelMenuItem Text="Inventario" Path="report/inventory" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Inventario en proceso" Path="report/inprocess-inventory" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Movimientos de artículos" Path="report/reference-movement" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Existencias en bodega" Path="report/warehouse-stock" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Ajustes de inventario" Path="report/inventory-adjustments" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Traslados entre bodegas" Path="report/warehouse-transfers" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Zona franca vs. Disponible" Path="/report/freezone-vs-available" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Clientes" Icon="summarize">
                    <RadzenPanelMenuItem Text="Reservas por cliente" Path="report/customer-reservation" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Pedidos por cliente" Path="report/customer-order" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Actividades de pedidos" Path="report/customer-order-activity" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Ventas por cliente" Path="report/customer-sales" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Proveedores" Icon="summarize">
                    <RadzenPanelMenuItem Text="Referencias del proveedor" Path="report/provider-references" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Ordenes de compra" Path="report/purchase-orders" Visible=@Security.IsInRole("Administrador","Consulta de reportes") />
                    <RadzenPanelMenuItem Text="Notificación de pedidos atendidos automáticamente" Path="report/automatic-purchase-order-assigment" Visible=@Security.IsInRole("Administrador","Consulta de notificaciones por asignación automática de pedidos") />
                </RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
        <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="Aldebaran.Web v5.8.1" TextStyle="Radzen.Blazor.TextStyle.Caption" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
            <RadzenText Text="Copyright Ⓒ 2024" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" style="color: var(--rz-text-disabled-color);" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" />
        </RadzenStack>
    </RadzenSidebar>
</RadzenLayout>