<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")" Disabled="@ReadOnly">
            @if (!SelectedReferences.Any())
            {
                <span>Referencia</span>
            }
            else
            {
                <div class="component-section d-flex flex-column justify-content-start">
                    @if (SelectedReferences?.Any() == true)
                    {
                        <div>
                            <span class="component-label">Referencias:</span>
                        </div>
                        @foreach (var reference in SelectedReferences)
                        {
                            <div>
                                <span class="component-label">[@reference.Item.InternalReference] (@reference.Item.Line.LineName) @reference.Item.ItemName - @reference.ReferenceName</span>
                            </div>
                        }
                    }
                </div>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Linea" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@Lines" MaxSelectedLabels="2" TextProperty="LineName" ValueProperty="LineId" SelectedItemsText="líneas seleccionadas" Chips="true" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" Disabled="@ReadOnly"
                                            style="display: block; width: 100%" @bind-Value="SelectedLineIds" Name="LineId" Change="@OnLineChange" AllowFiltering="true" ClearSearchAfterSelection="true" AllowSelectAll="true">

                                <Template>
                                    @(context?.LineName ?? null)
                                </Template>
                            </RadzenDropDown>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Artículo" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid @ref="itemsGrid" Data="@Items" MaxSelectedLabels="2" TextProperty="FullName" ValueProperty="ItemId" SelectedItemsText="artículos seleccionados" Chips="true" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" Disabled="@ReadOnly"
                                                    style="display: block; width: 100%" @bind-Value="SelectedItemIds" Name="ItemId" Change="@OnItemChange" AllowFiltering="true" AllowSelectAll="true">
                                <Columns>

                                    <RadzenDropDownDataGridColumn Width="60px" Sortable="false">
                                        <HeaderTemplate>
                                            <RadzenCheckBox Disabled="@(!itemsGrid.AllowSelectAll)" TriState="false" TValue="bool" Value="@(Items.Any(c => SelectedItemIds != null && SelectedItemIds.Contains(c.ItemId)))"
                                                            Change="@OnItemHeaderToggleSelection" />
                                        </HeaderTemplate>
                                        <Template Context="data">
                                            <RadzenCheckBox TriState="false" Value="@(SelectedItemIds != null && SelectedItemIds.Contains(((GroupItemData) data).ItemId))"
                                                            TValue="bool" Change=@(args => itemsGrid.SelectItem(data)) @onclick:stopPropagation />
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="InternalReference" Title="Ref. interna" />
                                    <RadzenDropDownDataGridColumn Property="ItemName" Title="Nombre" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Referencia" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@References" MaxSelectedLabels="2" ValueProperty="ReferenceId" TextProperty="ReferenceName" SelectedItemsText="referencias seleccionadas" Chips="true" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Multiple="true" Disabled="@ReadOnly"
                                            style="display: block; width: 100%" DisabledProperty="IsGroup" @bind-Value="SelectedReferenceIds" Name="ReferenceId" Change="@OnReferenceChange" AllowFiltering="true" ClearSearchAfterSelection="true" AllowSelectAll="true">
                                <Template>
                                    @(context?.ReferenceName ?? $"{context?.ItemName}")
                                </Template>
                            </RadzenDropDown>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>