<RadzenPanel AllowCollapse="false" Collapsed="@CollapsedPanel" Class="rz-mx-auto toggle-panel" Expand=@(() => PanelCollapseChange("Expand")) Collapse=@(() => PanelCollapseChange("Collapse"))>
    <HeaderTemplate>
        <RadzenButton Click="@PanelCollapseToggle" class="@(CollapsedPanel ? "panel-collapsed":"panel-expanded")" Disabled="@ReadOnly">
            @if (itemReference == null)
            {
                <span>Referencia</span>
            }
            else
            {
                <div class="component-section d-flex flex-column justify-content-start">
                    <span class="component-label">Referencia</span>
                    <span>(@line?.LineName) @item?.ItemName - @itemReference?.ReferenceName</span>
                </div>
            }
        </RadzenButton>
    </HeaderTemplate>
    <ChildContent>
        <RadzenCard class="mt-4">
            <RadzenRow>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Linea" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@lines" TextProperty="LineName" ValueProperty="LineId" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="LINE_ID" Name="LINE_ID" Change="@OnLineChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Ãrticulo" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@items" TextProperty="ItemName" ValueProperty="ItemId" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="ITEM_ID" Name="ITEM_ID" Change="@OnItemChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
                <RadzenColumn SizeLG="4" SizeXL="4" SizeMD="4" SizeSM="12" SizeXS="12" SizeXX="12">
                    <RadzenFormField Text="Referencia" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@itemReferences" TextProperty="ReferenceName" ValueProperty="ReferenceId" AllowClear=true
                                            style="display: block; width: 100%" @bind-Value="REFERENCE_ID" Name="REFERENCE_ID" Change="@OnReferenceChange" AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </ChildContent>
</RadzenPanel>