@page "/add-customer-order-in-process/{pCustomerOrderId}"

@attribute [Authorize(Roles = "Admin,Customer Order In Process Editor")]

<PageTitle>Pedido de Articulos</PageTitle>
<RadzenCard>
    <RadzenStack>
        <RadzenTemplateForm TItem="Aldebaran.Web.Models.AldebaranDb.CustomerOrder" Data="@customerOrder" Visible="@(customerOrder != null)" Submit="@FormSubmit">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenText Text="@title" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
                </RadzenColumn>
                <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">@errorMessage</RadzenAlert>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                <RadzenColumn SizeMD="5">
                    <RadzenStack>
                        <RadzenRow />
                        <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                            <RadzenColumn SizeMD="1" />
                            <RadzenColumn SizeMD="6">
                                <RadzenStack>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenLabel Text="Cliente" class="fw-bold" style="width: 100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.CUSTOMER_NAME</span>
                                        </RadzenRow>
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.PHONE1</span>
                                        </RadzenRow>
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.EMAIL1</span>
                                        </RadzenRow>
                                        <RadzenRow>
                                            <span>@customerOrder.Customer.CUSTOMER_ADDRESS, (@customerOrder.Customer.City.Department.Country.COUNTRY_CODE) @customerOrder.Customer.City.Department.DEPARTMENT_NAME - @customerOrder.Customer.City.CITY_NAME </span>
                                        </RadzenRow>
                                    </RadzenColumn>
                                </RadzenStack>
                            </RadzenColumn>
                            <RadzenColumn SizeMD="5">
                                <RadzenStack>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenLabel Text="Fecha de Pedido" class="fw-bold" style="width: 100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <span>@(String.Format("{0:dd/MM/yyyy}", customerOrder.ORDER_DATE)) </span>
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <RadzenLabel Text="Fecha Pactada de Entrega" class="fw-bold" style="width: 100%" />
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="3">
                                        <span>@(String.Format("{0:dd/MM/yyyy}", customerOrder.ESTIMATED_DELIVERY_DATE))</span>
                                    </RadzenColumn>
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenCard class="m-3">
                            <h3 class="h5">Datos del Traslado a Proceso</h3>
                            <RadzenRow style="margin-bottom: 1rem">
                                <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                                    <RadzenColumn SizeMD="6">
                                        <RadzenFormField Text="Fecha de Traslado" Variant="Variant.Text" class="fw-bold">
                                            <RadzenDatePicker @bind-Value="@customerOrderInProcess.TRANSFER_DATETIME" DateFormat="d" />
                                        </RadzenFormField>
                                    </RadzenColumn>
                                    <RadzenColumn SizeMD="6">
                                        <RadzenFormField Text="Fecha de Proceso" Variant="Variant.Text" class="fw-bold">
                                            <RadzenDatePicker @bind-Value="@customerOrderInProcess.PROCESS_DATE" DateFormat="d" />
                                        </RadzenFormField>
                                    </RadzenColumn>
                                </RadzenRow>
                                <RadzenFormField Text="Satelite" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                    <ChildContent>
                                        <RadzenDropDownDataGrid Data="@processSatellitesFORPROCESSSATELLITEID" TextProperty="PROCESS_SATELLITE_NAME" ValueProperty="PROCESS_SATELLITE_ID" AllowClear=true
                                                                style="display: block; width: 100%" @bind-Value="@customerOrderInProcess.PROCESS_SATELLITE_ID" Name="PROCESS_SATELLITE_ID"
                                                                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true"
                                                                Placeholder="Seleccione un Satelite">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="IdentityType.IDENTITY_TYPE_NAME" Title="Tipo Documento" />
                                                <RadzenDropDownDataGridColumn Property="IDENTITY_NUMBER" Title="Identificación" />
                                                <RadzenDropDownDataGridColumn Property="PROCESS_SATELLITE_NAME" Title="Nombre" />
                                                <RadzenDropDownDataGridColumn Property="City.CITY_ID" Title="Ubicación">
                                                    <Template Context="satellite">
                                                        <span>(@satellite.City.Department.Country.COUNTRY_CODE) @satellite.City.Department.DEPARTMENT_NAME - @satellite.City.CITY_NAME</span>
                                                    </Template>
                                                </RadzenDropDownDataGridColumn>
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </ChildContent>
                                </RadzenFormField>
                                <RadzenNumericRangeValidator Component="PROCESS_SATELLITE_ID" Min="1" Text="El Satellite del proceso es requerido"></RadzenNumericRangeValidator>
                                <RadzenFormField Text="Recibido Por" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                    <ChildContent>
                                        <RadzenDropDownDataGrid Data="@employeesFOREMPLOYEEID" TextProperty="FULL_NAME" ValueProperty="EMPLOYEE_ID" AllowClear=true
                                                                style="display: block; width: 100%" @bind-Value="@customerOrderInProcess.EMPLOYEE_RECIPIENT_ID" Name="EMPLOYEE_RECIPIENT_ID"
                                                                FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive"
                                                                AllowFilteringByAllStringColumns="true"
                                                                Placeholder="Seleccione un Empleado">
                                            <Columns>
                                                <RadzenDropDownDataGridColumn Property="EMPLOYEE.IdentityType.IDENTITY_TYPE_NAME" Title="Tipo de Identificación" />
                                                <RadzenDropDownDataGridColumn Property="IDENTITY_NUMBER" Title="Número de Identificación" />
                                                <RadzenDropDownDataGridColumn Property="FULL_NAME" Title="Nombre Completo" />
                                            </Columns>
                                        </RadzenDropDownDataGrid>
                                    </ChildContent>
                                </RadzenFormField>
                                <RadzenNumericRangeValidator Component="EMPLOYEE_RECIPIENT_ID" Min="1" Text="El Empleado que recibe el traslado a proceso es requerido"></RadzenNumericRangeValidator>
                                <RadzenFormField Text="Notas" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                    <RadzenTextArea Multilie="true" style="display: block; width: 100%" @bind-Value="@customerOrderInProcess.NOTES" TabIndex="3" />
                                </RadzenFormField>
                            </RadzenRow>
                        </RadzenCard>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="7">
                    <RadzenStack>
                        <RadzenRow />
                        <RadzenColumn SizeMD="3">
                            <RadzenLabel Text="Referencias del Pedido" class="fw-bold" style="width: 100%" />
                        </RadzenColumn>
                        <RadzenDataGrid @ref="customerOrderDetailGrid" ColumnWidth="200px" AllowFiltering="false" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                        Data="@detailsInProcess" TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Title="Artículo/Referencia">
                                    <Template Context="detail">
                                        <span>(@detail.REFERENCE_DESCRIPTION</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="PENDING_QUANTITY" Title="Pendiente" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="PROCESSED_QUANTITY" Title="En Proceso" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="DELIVERED_QUANTITY" Title="Despachado" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Property="THIS_QUANTITY" Title="Este Traslado" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Filterable="false" Sortable="false" Width="110px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                                    <Template Context="detail">
                                        <RadzenButton Icon="assignment_ind" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(args => SendToProcess(detail))" @onclick:stopPropagation="true"
                                                      Visible="@Security.IsInRole("Admin","Customer Order In Process Editor")" title="Enviar Cantidad a Proceso">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                      Shade="Shade.Lighter" Variant="Variant.Flat" Visible="@CanCancel(detail)"
                                                      Click=@(args => CancelToProcess(detail)) @onclick:stopPropagation="true" title="Cancelar Traslado" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@isSubmitInProgress" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>
    </RadzenStack>
</RadzenCard>
