@attribute [Authorize(Roles = "Admin,Customer Order Editor")]

<PageTitle>Agregar Referencia al Pedido</PageTitle>

<RadzenColumn SizeMD=12>
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">@alertMessage</RadzenAlert>
    <RadzenTemplateForm TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Data="@detailInProcess" Visible="@(detailInProcess != null)" Submit="@FormSubmit">
        <RadzenStack style="margin-bottom: 1rem">
            <RadzenRow SizeMD="9">
                <RadzenColumn SizeMD="3">
                    <RadzenLabel Text="Articulo/Referencia" class="fw-bold" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn onchange="@ItemReferenceHandler()" SizeMD="9">
                    <span>@detailInProcess.REFERENCE_DESCRIPTION</span>
                </RadzenColumn>
                <RadzenColumn SizeMD="3">
                    <RadzenLabel Text="Marcación Especial" class="fw-bold" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="9">
                    <span>@detailInProcess.BRAND</span>
                </RadzenColumn>
                <RadzenColumn SizeMD="5">
                    <RadzenLabel Text="Cantidad Pendiente" class="fw-bold" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="7">
                    <span>@detailInProcess.PENDING_QUANTITY</span>
                </RadzenColumn>
                <RadzenColumn SizeMD="5">
                    <RadzenLabel Text="Cantidad en proceso" class="fw-bold" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="7">
                    <span>@detailInProcess.PROCESSED_QUANTITY</span>
                </RadzenColumn>
                <RadzenColumn SizeMD="5">
                    <RadzenLabel Text="Cantidad Despachada" class="fw-bold" style="width: 100%" />
                </RadzenColumn>
                <RadzenColumn SizeMD="7">
                    <span>@detailInProcess.DELIVERED_QUANTITY</span>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow>
                <RadzenFormField Text="Enviar en este proceso" Gap="2rem" Variant="Variant.Outlined" Style="width: 100%;">
                    <RadzenColumn SizeMD="9">
                        <RadzenNumeric style="display: block; width: 100%" @bind-Value="@detailInProcess.THIS_QUANTITY" Name="THIS_QUANTITY" Placeholder="Ingrese la cantidad a trasladar" />
                        <RadzenRequiredValidator Component="THIS_QUANTITY" Text="La Cantidad es Requerida" />
                    </RadzenColumn>
                </RadzenFormField>
                <RadzenFormField Text="Bodega Origen" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                    <RadzenDropDownDataGrid Data="@warehousesForWAREHOUSEID" TextProperty="WarehouseName" ValueProperty="WarehouseId" AllowClear=true
                                            Disabled=@(hasWAREHOUSE_IDValue) Placeholder="Seleccione una bodega" style="display: block; width: 100%" @bind-Value="@detailInProcess.WAREHOUSE_ID" Name="WAREHOUSE_ID" TabIndex="2" />
                    <RadzenNumericRangeValidator Component="WAREHOUSE_ID" Min="1" Text="La Bodega es requerida"></RadzenNumericRangeValidator>
                </RadzenFormField>
            </RadzenRow>
        </RadzenStack>
        <RadzenRow style="margin-bottom: 1rem">
            <InventoryQuantities @ref="QuantitiesPanel" Reference="detailInProcess.ItemReference" />
        </RadzenRow>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@isSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>

