@attribute [Authorize(Roles = "Administrador,Modificación de pedidos")]
@using Microsoft.Extensions.Options
@using Aldebaran.Web.Models
@inject IOptions<AppSettings> settings;

<PageTitle>Agregar Referencia al Pedido</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />
@if (!isLoadingInProgress)
{
    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" @bind-Visible="@IsErrorVisible">
            @Error
        </RadzenAlert>
        <RadzenTemplateForm TItem="Aldebaran.Web.Models.ViewModels.DetailInProcess" Data="@detailInProcess" Visible="@(detailInProcess != null)" Submit="@FormSubmit" InvalidSubmit="()=>Submitted=true">
            <RadzenPanel AllowCollapse="true" class="rz-my-00 rz-mx-auto" Style="width: 100%;">
                <HeaderTemplate>
                    <RadzenText TextStyle="TextStyle.Body2" class="rz-display-flex rz-align-items-center rz-m-0">
                        <RadzenIcon Icon="image" class="rz-me-1" /><b>Imagen del artículo</b>
                    </RadzenText>
                </HeaderTemplate>
                <ChildContent>
                    <RadzenStack Orientation="Orientation.Vertical" Style="margin-bottom: 15px;">
                        <RadzenRow Gap="2rem"
                                   Style="margin-bottom: 5px;"
                                   Visible="@(detailInProcess.ItemReference != null)">
                            <RadzenColumn Size="12" Style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                @{
                                    AppSettings _settings = _settings = settings?.Value ?? throw new ArgumentNullException(nameof(IOptions<AppSettings>));
                                    string imagePath = Path.Combine(_settings.ImageRepositoryPath, detailInProcess.ItemReference.Item.InternalReference + ".jpg");

                                    // Validar si el archivo existe
                                    var imageExists = System.IO.File.Exists(imagePath);
                                    if (imageExists)
                                    {
                                        var imageUrl = "/externalimages/" + detailInProcess.ItemReference.Item.InternalReference + ".jpg";
                                        <RadzenImage Path=@imageUrl style="max-width:30%; height:auto;" />
                                    }
                                    else
                                    {
                                        <p>Imagen no disponible.</p>
                                    }
                                }
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </ChildContent>
            </RadzenPanel>
            <RadzenStack style="margin-bottom: 1rem">
                <RadzenRow SizeMD="9">
                    <RadzenColumn SizeMD="3">
                        <RadzenLabel Text="Referencia" class="fw-bold" style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="9">
                        <span>@detailInProcess.REFERENCE_DESCRIPTION</span>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="3">
                        <RadzenLabel Text="Marcación especial:" style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="9">
                        <span>@detailInProcess.BRAND</span>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="5">
                        <RadzenLabel Text="Cantidad pendiente:" style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="7">
                        <span>@detailInProcess.PENDING_QUANTITY.ToString("N0")</span>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="5">
                        <RadzenLabel Text="Cantidad en proceso:" style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="7">
                        <span>@detailInProcess.PROCESSED_QUANTITY.ToString("N0")</span>
                    </RadzenColumn>
                    <RadzenColumn SizeMD="5">
                        <RadzenLabel Text="Cantidad despachada:" style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="7">
                        <span>@detailInProcess.DELIVERED_QUANTITY.ToString("N0")</span>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow>
                    <RadzenFormField Text="Enviar en este proceso" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenNumeric style="display: block; width: 100%" @bind-Value="@detailInProcess.THIS_QUANTITY" Name="THIS_QUANTITY"
                                           Placeholder="Ingrese la cantidad a trasladar" TabIndex="0" Format="N0" />
                        </ChildContent>
                        <Helper>
                            <RadzenRequiredValidator Component="THIS_QUANTITY" Text="La Cantidad es Requerida" />
                            <RadzenNumericRangeValidator Component="THIS_QUANTITY" Min="1" Text="La cantidad enviada en este proceso debe ser mayor a 0" />
                        </Helper>
                    </RadzenFormField>
                </RadzenRow>
            </RadzenStack>
            <RadzenRow style="margin-bottom: 1rem">
                <InventoryQuantities Reference="ItemReference" />
            </RadzenRow>
            <RadzenStack class="my-2" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@IsSubmitInProgress" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>
}
