@page "/report/warehouse-stock"
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer

<PageTitle>Reporte de existencias en bodega</PageTitle>
<RadzenStack Style="gap:0.3em">
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenText Text="Reporte de existencias en bodega" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start" class="mb-2">
        <RadzenColumn Size="6">
            <div class="rz-text-align-left d-flex gap-3">
                <RadzenButton Variant="Variant.Text" Icon="filter_alt" Click="@OpenFilters" Text="Filtros" ButtonStyle="ButtonStyle.Secondary" class="text-primary-color p-0 pb-1" />
                @if (Filter != null)
                {
                    <RadzenButton Variant="Variant.Text" Click="@RemoveFilters" Text="Limpiar filtros" ButtonStyle="ButtonStyle.Secondary" class="text-decoration-underline p-0 pb-1" />
                }
            </div>
            <div class="component-section d-flex flex-column justify-content-start text-secondary-color">
                @if (Filter != null)
                {
                    @if (Filter.WarehouseId != null && Filter.Warehouse != null)
                    {
                        <div class="d-flex flex-row justify-content-start gap-1 component-section-item">
                            <p class="component-label m-0 fw-bold">Bodega: </p>
                            <span style="line-height: 1rem;transform: translate(0, -2px);">@Filter.Warehouse.WarehouseName</span>
                        </div>
                    }
                    <div class="component-section d-flex flex-column justify-content-start pt-2">
                        @if (Filter.ItemReferences.Any())
                        {
                            <p class="component-label m-0 fw-bold">Referencias: </p>
                            @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                            {
                                <span class="@(i>=2 ? "read-more" : "")" style="@(i>=2 ? "display: none" : "")">(@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</span>
                            }
                            @if (Filter.ItemReferences.Count() > 2)
                            {
                                <div>
                                    <a href="javascript:;" id="toggleLink" @onclick="ToggleReadMore">Ver más</a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </RadzenColumn>
        <RadzenColumn Size="6" class="align-self-end">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenSplitButton Icon="build" Text="Acciones" Click="@Save" Variant="Variant.Flat" Shade="Shade.Lighter" IsBusy="@IsBusy" Disabled="ViewModel==null">
                    <RadzenSplitButtonItem Text="Imprimir" Icon="print" Value="print" Style="cursor:pointer" />
                    <RadzenSplitButtonItem Text="Guardar PDF" Icon="picture_as_pdf" Value="save" Style="cursor:pointer" />
                </RadzenSplitButton>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenCard style="min-height:600px; overflow-y:auto; position:relative">
                <div id="warehouse-stock-report-container">
                    <div class="report">
                        <table>
                            <tr>
                                <td width="50%">
                                    <h2 class="text-left mb-0">Existencias en bodega</h2>
                                    <span class="mb-1">@DateTime.Now.ToString(SharedLocalizer["datetime:format"])</span>
                                </td>
                                <td width="50%">
                                    @if (Filter != null)
                                    {
                                        <div class="filters">
                                            <div class="title">Filtros:</div>
                                            <div>
                                                @if (Filter.WarehouseId != null && Filter.Warehouse != null)
                                                {
                                                    <div style="display:flex; gap:5px; flex-direction:row; justify-content:end">
                                                        <div class="type">Bodega: </div>
                                                        <span>@Filter.Warehouse.WarehouseName</span>
                                                    </div>
                                                }
                                                @if (Filter.ItemReferences.Any())
                                                {
                                                    <div style="display:flex; flex-direction:column; justify-content:end">
                                                        <div class="type">Referencias: </div>
                                                        @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                                                        {
                                                            <p>(@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</p>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="mt-1 border">
                            <LoadingData IsLoadingData="@IsLoadingData" />
                            @if (ViewModel != null)
                            {
                                @if (ViewModel.Warehouses?.Any() == true)
                                {
                                    @foreach (var warehouse in ViewModel.Warehouses)
                                    {
                                        <p class="title border-bottom-1">Bodega: @warehouse.WarehouseName</p>
                                        @foreach (var line in warehouse.Lines)
                                        {
                                            <p class="title border-bottom-1" style="padding-left: 1em;">Línea: @line.LineCode  - @line.LineName</p>
                                            @for (int i = 0; i < line.Items.Count(); i++)
                                            {
                                                var item = line.Items[i];
                                                <div style="padding: 1em 1em 0 1em !important;">
                                                    @if (i > 0)
                                                    {
                                                        <hr class="mb-2" />
                                                    }
                                                    <h3 class="text-left m-0">@item.ItemName</h3>
                                                    <p class="m-0">
                                                        Referencia interna: @item.InternalReference
                                                    </p>
                                                </div>
                                                <div style="margin: 1em;">
                                                    <table class="striped edged">
                                                        <thead>
                                                            <tr>
                                                                <th width="20%">Código</th>
                                                                <th width="30%">Referencia</th>
                                                                <th width="30%">Referencia proveedor</th>
                                                                <th width="20%">Disponible</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var reference in item.References)
                                                            {
                                                                <tr>
                                                                    <td width="20%">@reference.ReferenceCode</td>
                                                                    <td width="30%">@reference.ReferenceName</td>
                                                                    <td width="30%">@reference.ProviderReferenceName</td>
                                                                    <td width="20%">@reference.AvailableAmount.ToString("N0")</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="no-data-container">
                                        <h4>@SharedLocalizer["report:no-data"]</h4>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="no-data-container">
                                    <h4>@SharedLocalizer["report:unfiltered"]</h4>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>