@using ViewModel = Aldebaran.Web.Pages.ReportPages.Provider_References.ViewModel;

<RadzenColumn SizeMD=12>
    <RadzenTemplateForm TItem="ViewModel.ProviderReferencesFilter" Data="Filter" Submit="@FormSubmit">
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenFormField Text="Proveedor" Variant="Variant.Text" Style="width: 100%;">
                <ChildContent>
                    <RadzenDropDownDataGrid @ref="providersDropdown" Data="@Providers" TextProperty="ProviderName" ValueProperty="ProviderId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="@ProviderId" Name="ProviderId" AllowFilteringByAllStringColumns="true" Change="@ProviderSelectionChange">
                        <Columns>
                            <RadzenDropDownDataGridColumn Property="ProviderCode" Title="Código" />
                            <RadzenDropDownDataGridColumn Property="ProviderName" Title="Nombre" />
                            <RadzenDropDownDataGridColumn Property="ContactPerson" Title="Contacto" />
                            <RadzenDropDownDataGridColumn Property="City.CityId" Title="Ubicación">
                                <Template Context="provider">
                                    <span>(@provider.City.Department.Country.CountryCode) @provider.City.Department.DepartmentName - @provider.City.CityName</span>
                                </Template>
                            </RadzenDropDownDataGridColumn>
                        </Columns>
                    </RadzenDropDownDataGrid>
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="ProviderId" Text="Proveedor es requerido" DefaultValue="0"></RadzenRequiredValidator>
                </Helper>
            </RadzenFormField>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <MultiReferencePicker @ref="referencePicker" OnChange="ItemReferenceHandler" ReadOnly="!AllowItemReferenceSelection"></MultiReferencePicker>
            <RadzenRequiredValidator Text="La referencia es requerida" Component="ReferenceId" />
        </RadzenRow>
        <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="filter_alt" Text="Filtrar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>