@page "/add-customer-order-from-reservation/{CustomerReservationId}"

@attribute [Authorize(Roles = "Admin,Customer Reservation Editor")]
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Web.Resources.ISharedStringLocalizer SharedLocalizer

<PageTitle>Pedido de Articulos</PageTitle>
<RadzenCard>
    <RadzenStack>
        <RadzenTemplateForm TItem="Aldebaran.Application.Services.Models.CustomerOrder" Data="@customerOrder" Visible="@(customerOrder != null)" Submit="@FormSubmit">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenText Text="Pedido a partir de una reserva" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
                    <hr />
                </RadzenColumn>
                <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">
                    @errorMessage
                </RadzenAlert>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                <RadzenColumn SizeMD="6">
                    <RadzenStack>
                        <RadzenStack>
                            <RadzenColumn SizeMD="3">
                                <RadzenLabel Text="Cliente" style="width: 100%" />
                            </RadzenColumn>
                            <RadzenColumn SizeMD="3">
                                <RadzenRow>
                                    <span>@customerOrder.Customer.CustomerName</span>
                                </RadzenRow>
                                <RadzenRow>
                                    <span>@customerOrder.Customer.CustomerAddress</span>
                                </RadzenRow>
                                <RadzenRow>
                                    <span>@customerOrder.Customer.Phone1</span>
                                </RadzenRow>
                                <RadzenRow>
                                    <span>@customerOrder.Customer.Email1</span>
                                </RadzenRow>
                            </RadzenColumn>
                        </RadzenStack>
                        <RadzenStack>
                            <RadzenColumn Size="6">
                                <RadzenText Text="Datos del pedido" TextStyle="TextStyle.H5" TagName="TagName.H1" style="margin: 0" />
                                <hr />
                            </RadzenColumn>
                            <RadzenFormField Text="Fecha de pedido" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@customerOrder.OrderDate"
                                    Name="ORDER_DATE" Placeholder="Seleccione la fecha de la pedido" TabIndex="0" />
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Text="La fecha de pedido es requerida" Component="ORDER_DATE" />
                                </Helper>
                            </RadzenFormField>
                            <RadzenFormField Text="Fecha de pactada de entrega" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@customerOrder.EstimatedDeliveryDate" TabIndex="1"
                                                      Placeholder="Seleccione la fecha pactada de entrega" Name="ESTIMATED_DELIVERY_DATE"
                                                      Change="()=> customerOrder.EstimatedDeliveryDate = customerOrder.EstimatedDeliveryDate < customerOrder.OrderDate ? customerOrder.OrderDate : customerOrder.EstimatedDeliveryDate" />
                                </ChildContent>
                                <Helper>
                                    <RadzenRequiredValidator Component="ESTIMATED_DELIVERY_DATE" Text="La eecha pactada de entrega es requerida" />
                                </Helper>
                            </RadzenFormField>
                            <RadzenFormField Text="Notas del cliente" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenTextArea Multilie="true" style="display: block; width: 100%" @bind-Value="@customerOrder.CustomerNotes" Name="CUSTOMER_NOTES" TabIndex="2" ReadOnly="true" />
                                </ChildContent>
                            </RadzenFormField>
                            <RadzenFormField Text="Notas internas" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenTextArea Multilie="true" style="display: block; width: 100%" @bind-Value="@customerOrder.InternalNotes" Name="INTERNAL_NOTES" TabIndex="3" />
                                </ChildContent>
                            </RadzenFormField>
                        </RadzenStack>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="6">
                    <RadzenStack>
                        <RadzenColumn Size="6">
                            <RadzenText Text="Referencias" TextStyle="TextStyle.H5" TagName="TagName.H1" style="margin: 0" />
                        </RadzenColumn>
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                    <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddCustomerOrderDetailButtonClick" />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <LocalizedDataGrid @ref="customerOrderDetailGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                           Data="@customerOrderDetails" TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Property="RequestedQuantity" Title="Cantidad" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Title="Referencia">
                                    <Template Context="detail">
                                        <span>(@detail.ItemReference.Item.InternalReference) @detail.ItemReference.Item.ItemName - @detail.ItemReference.ReferenceName</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                    <Template Context="detail">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(args => EditRow(detail))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                      Shade="Shade.Lighter" Variant="Variant.Flat"
                                                      Click=@(args => DeleteCustomerOrderDetailButtonClick(args, detail)) @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@isSubmitInProgress" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>
    </RadzenStack>
</RadzenCard>
