@page "/customer-order-detail/{CustomerOrderId}"
@attribute [Authorize(Roles = "Administrador,Consulta de pedidos,Consulta de notificaciones por pedidos vencidos,Consulta de notificaciones por órdenes próximas a su vencimiento,Consulta de notificaciones por alarmas de órdenes modificadas con afectación en pedido")]
@using Aldebaran.Web.Resources.LocalizedControls;
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;

<PageTitle>Detalles del Pedido</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenStack>
        <RadzenRow AlignItems="AlignItems.Start">
            <RadzenColumn Size="12">
                <div class="flex-shrink-0">
                    <div class="text-primary-color" style="font-size: 16px">
                        <RadzenLabel Text="Cliente: " Style="font-weight: bold" />
                        <RadzenLabel Text="@customerOrder.Customer.CustomerName" />
                    </div>
                    <div class="text-secondary-color">
                        <RadzenLabel Text="Fecha de pedido: " />
                        <span>@customerOrder.OrderDate.ToString(SharedLocalizer["date:format"])</span>
                    </div>
                    <div class="text-secondary-color">
                        <RadzenLabel Text="Fecha Pactada de Entrega: " />
                        <span>@customerOrder.EstimatedDeliveryDate.ToString(SharedLocalizer["date:format"])</span>
                    </div>
                    <div class="text-secondary-color">
                        <RadzenLabel Text="Notas del cliente: " />
                        <span>@customerOrder.CustomerNotes</span>
                    </div>
                    <div class="text-secondary-color">
                        <RadzenLabel Text="Notas internas: " />
                        <span>@customerOrder.InternalNotes</span>
                    </div>
                    <div class="text-secondary-color">
                        <RadzenLabel Text="Estado: " />
                        <span>@customerOrder.StatusDocumentType.StatusDocumentTypeName</span>
                    </div>
                </div>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow AlignItems="AlignItems.Start">
            <RadzenColumn Size="12">
                <RadzenText Text="Referencias" TextStyle="TextStyle.H5" TagName="TagName.H1" style="margin-bottom: 0.5rem;" />
                <LocalizedDataGrid ColumnWidth="200px" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                   Data="@customerOrderDetails" TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail">
                    <Columns>
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Filterable="false" Sortable="false" Width="50px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Resizable="false">
                            <Template Context="detail">
                                <RadzenButton Icon="image" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click="@(args => ShowImageDialog($"[{@detail.ItemReference.Item.InternalReference}] {@detail.ItemReference.Item.ItemName}"))"
                                              @onclick:stopPropagation="true" MouseEnter="@(args => ShowTooltip(args,"Ver imagen del producto", new TooltipOptions(){ Position = TooltipPosition.Left }))" />
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn Width="140px" TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Title="Referencia">
                            <Template Context="detail">
                                <RadzenLabel MouseEnter="@(args => ShowTooltip(args,GetReferenceHint(@detail.ItemReference).Result, new TooltipOptions(){ Position = TooltipPosition.Left }))">
                                    [@detail.ItemReference.Item.InternalReference] @detail.ItemReference.Item.ItemName - @detail.ItemReference.ReferenceName
                                </RadzenLabel>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn Width="60px" TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Title="Cantidad" >
                            <Template Context="detail">
                                @detail.RequestedQuantity.ToString("N0")
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn Width="60px"  TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Title="Pendiente">
                            <Template Context="detail">
                                @{
                                    var pendingQuantity = @detail.RequestedQuantity - @detail.ProcessedQuantity - @detail.DeliveredQuantity;
                                }
                                @pendingQuantity.ToString("N0")
                            </Template>
                        </RadzenDataGridColumn>                        
                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Title="Existencias" Width="100px" Filterable="false" Sortable="false">
                            <Template Context="detail">
                                <LocalizedDataGrid class="rz-datatable-no-header"  ColumnWidth="200px" AllowFiltering="false" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="false" AllowSorting="false" ShowPagingSummary="false" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                   Data="detail.ItemReference.ReferencesWarehouses" TItem="Aldebaran.Application.Services.Models.ReferencesWarehouse" >
                                    <Columns>
                                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.ReferencesWarehouse" Property="Warehouse.WarehouseName" Title="Bodega" Width="60px" />
                                        <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.ReferencesWarehouse" Property="Quantity" Title="Cantidad" Width="40px" />
                                    </Columns>
                                </LocalizedDataGrid>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </LocalizedDataGrid>
            </RadzenColumn>
        </RadzenRow>
    </RadzenStack>
}