@attribute [Authorize(Roles = "Admin,Customer Order Editor")]

<PageTitle>Actualizar Referencia del Pedido</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" @bind-Visible="@IsErrorVisible">
            @Error
        </RadzenAlert>
        <RadzenTemplateForm TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Data="@customerOrderDetail" Visible="@(customerOrderDetail != null)" Submit="@FormSubmit">
            <RadzenStack style="margin-bottom: 1rem">
                <RadzenRow SizeMD="9">
                    <RadzenColumn SizeMD="3">
                        <RadzenLabel Text="Referencia" Component="REFERENCE" style="width: 100%" />
                    </RadzenColumn>
                    <RadzenColumn SizeMD="9">
                        <span>(@customerOrderDetail.ItemReference.Item.Line.LineName) @customerOrderDetail.ItemReference.Item.ItemName - @customerOrderDetail.ItemReference.ReferenceName</span>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenFormField Text="Cantidad" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                    <ChildContent>
                        <RadzenNumeric style="display: block; width: 100%" @bind-Value="@customerOrderDetail.RequestedQuantity" Name="REQUESTED_QUANTITY"
                                       TabIndex="0" Placeholder="Ingrese la cantidad a reservar" Format="N0"/>
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="REQUESTED_QUANTITY" Text="La Cantidad es Requerida" />
                        <RadzenNumericRangeValidator Component="REQUESTED_QUANTITY" Min="@(customerOrderDetail.ProcessedQuantity + customerOrderDetail.DeliveredQuantity)" Text="@(string.Format("La cantidad debe ser mayor a {0}, ya que existen cantidades en proceso y/o despachadas.",customerOrderDetail.ProcessedQuantity + customerOrderDetail.DeliveredQuantity))" />
                    </Helper>
                </RadzenFormField>
                <RadzenFormField Text="Marcación" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                    <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@customerOrderDetail.Brand" Name="BRAND" MaxLength="250"
                                       TabIndex="1" Placeholder="Ingrese la marcación del producto" />
                    </ChildContent>
                </RadzenFormField>
            </RadzenStack>
            <RadzenRow style="margin-bottom: 1rem">
                <InventoryQuantities Reference="ItemReference" />
            </RadzenRow>
            <RadzenStack class="my-2" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@IsSubmitInProgress" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>
}
