@attribute [Authorize(Roles = "Admin,Customer Order Editor")]

<PageTitle>Modificar Referencia del Pedido</PageTitle>

<RadzenColumn SizeMD=12>
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save AdjustmentDetail</RadzenAlert>
    <RadzenTemplateForm TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Data="@CustomerOrderDetail" Visible="@(CustomerOrderDetail != null)" Submit="@FormSubmit">
        <RadzenStack style="margin-bottom: 1rem">
            <RadzenFormField onchange="@ItemReferenceHandler()" Text="Referencia" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                <ChildContent>
                    <span>(@CustomerOrderDetail.ItemReference.Item.InternalReference) @CustomerOrderDetail.ItemReference.Item.ItemName - @CustomerOrderDetail.ItemReference.ReferenceName</span>
                </ChildContent>
            </RadzenFormField>
            <RadzenFormField Text="Cantidad" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                <ChildContent>
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@CustomerOrderDetail.RequestedQuantity" Name="REQUESTED_QUANTITY" Placeholder="Ingrese la cantidad a reservar" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="REQUESTED_QUANTITY" Text="La Cantidad es Requerida" />
                    <RadzenNumericRangeValidator Component="REQUESTED_QUANTITY" Min="1" Text="La cantidad debe ser mayor a 0" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Marcación" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@CustomerOrderDetail.Brand" Name="BRAND" Placeholder="Ingrese la marcación del producto" />
                </ChildContent>
            </RadzenFormField>
        </RadzenStack>
        <RadzenRow style="margin-bottom: 1rem">
            <InventoryQuantities @ref="quantitiesPanel" Reference="CustomerOrderDetail.ItemReference" />
        </RadzenRow>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@isSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>

