@page "/edit-customer-order/{pCustomerOrderId}"

@attribute [Authorize(Roles = "Admin,Customer Order Editor")]

<PageTitle>Pedido de Articulos</PageTitle>
<RadzenCard>
    <RadzenStack>
        <RadzenTemplateForm TItem="Aldebaran.Application.Services.Models.CustomerOrder" Data="@customerOrder" Visible="@(customerOrder != null)" Submit="@FormSubmit">
            <RadzenRow AlignItems="AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenText Text="@title" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
                </RadzenColumn>
                <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">@errorMessage</RadzenAlert>
            </RadzenRow>
            <RadzenRow AlignItems="AlignItems.Start" Gap="2rem">
                <RadzenColumn SizeMD="6">
                    <RadzenStack>
                        <RadzenRow />
                        <RadzenRow style="margin-bottom: 2rem">
                            <RadzenFormField Text="Cliente" Gap="2rem" Variant="Variant.Text" Style="width: 100%;">
                                <ChildContent>
                                    <RadzenDropDownDataGrid Data="@customersForCUSTOMERID" TextProperty="CustomerName" ValueProperty="CustomerId" AllowClear=true
                                                            style="display: block; width: 100%" @bind-Value="@customerOrder.CustomerId" Name="CUSTOMER_ID" FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true" Placeholder="Seleccione un Cliente">
                                        <Columns>
                                            <RadzenDropDownDataGridColumn Property="IdentityType.IdentityTypeName" Title="Tipo Documento" />
                                            <RadzenDropDownDataGridColumn Property="IdentityNumber" Title="Identificación" />
                                            <RadzenDropDownDataGridColumn Property="CustomerName" Title="Nombre" />
                                            <RadzenDropDownDataGridColumn Property="City.CityId" Title="Ubicación">
                                                <Template Context="customer">
                                                    <span>(@customer.City.Department.Country.CountryCode) @customer.City.Department.DepartmentName - @customer.City.CityName</span>
                                                </Template>
                                            </RadzenDropDownDataGridColumn>
                                        </Columns>
                                    </RadzenDropDownDataGrid>
                                </ChildContent>
                            </RadzenFormField>
                            <RadzenRequiredValidator Component="CUSTOMER_ID" DefaultValue="0" Text="El Cliente de la reserva es requerido "></RadzenRequiredValidator>
                        </RadzenRow>
                        <RadzenColumn SizeMD="3">
                            <RadzenLabel Text="Fecha de Pedido" class="fw-bold" style="width: 100%" />
                        </RadzenColumn>
                        <RadzenColumn SizeMD="3">
                            <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@customerOrder.OrderDate" Name="ORDER_DATE" Placeholder="Seleccione la fecha de la pedido" TabIndex="0" />
                            <RadzenRequiredValidator Text="La Fecha de pedido es requerido" Component="ORDER_DATE" />
                        </RadzenColumn>
                        <RadzenColumn SizeMD="3">
                            <RadzenLabel Text="Fecha de Pactada de Entrega" class="fw-bold" style="width: 100%" />
                        </RadzenColumn>
                        <RadzenColumn SizeMD="3">
                            <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@customerOrder.EstimatedDeliveryDate" Name="ESTIMATED_DELIVERY_DATE" Placeholder="Seleccione la fecha de estimada de entrega" TabIndex="0" />
                            <RadzenRequiredValidator Text="La Fecha pactada de entrega es requerida" Component="ESTIMATED_DELIVERY_DATE" />
                        </RadzenColumn>
                        <RadzenRow style="margin-bottom: 1rem">
                            <RadzenColumn SizeMD="3">
                                <RadzenLabel Text="Notas del Cliente" Component="NOTES" class="fw-bold" style="width: 100%" />
                            </RadzenColumn>
                            <RadzenColumn SizeMD="12">
                                <RadzenTextArea Multilie="true" style="display: block; width: 100%" @bind-Value="@customerOrder.CustomerNotes" Name="CUSTOMER_NOTES" TabIndex="3"/>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenRow style="margin-bottom: 1rem">
                            <RadzenColumn SizeMD="3">
                                <RadzenLabel Text="Notas Internas" Component="NOTES" class="fw-bold" style="width: 100%" />
                            </RadzenColumn>
                            <RadzenColumn SizeMD="12">
                                <RadzenTextArea Multilie="true" style="display: block; width: 100%" @bind-Value="@customerOrder.InternalNotes" Name="INTERNAL_NOTES" TabIndex="3"/>
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                </RadzenColumn>
                <RadzenColumn Size="6">
                    <RadzenStack>
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                    <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddCustomerOrderDetailButtonClick" />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenDataGrid @ref="customerOrderDetailGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                        Data="@customerOrderDetails" TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Property="RequestedQuantity" Title="Cantidad" Width="100px" />
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Title="Artículo/Referencia">
                                    <Template Context="detail">
                                        <span>(@detail.ItemReference.Item.InternalReference) @detail.ItemReference.Item.ItemName - @detail.ItemReference.ReferenceName</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerOrderDetail" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                                    <Template Context="detail">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Click="@(args => EditRow(detail))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                                      Shade="Shade.Lighter" Variant="Variant.Flat"
                                                      Click=@(args => DeleteCustomerOrderDetailButtonClick(args, detail)) @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow AlignItems="Radzen.AlignItems.Center">
                <RadzenColumn Size="12">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                        <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando" IsBusy="@isSubmitInProgress" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>
    </RadzenStack>
</RadzenCard>
