@page "/providers"
@attribute [Authorize(Roles = "Admin,Provider Viwer,Provider Editor")]
@using Aldebaran.Web.Resources.LocalizedControls;
@using ServiceModel = Aldebaran.Application.Services.Models;

<PageTitle>Proveedores</PageTitle>
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12">
            <RadzenText Text="Proveedores" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" Visible="@Security.IsInRole("Admin","Provider Editor")">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddProvider" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
        <RadzenColumn SizeMD=12>
            <LocalizedDataGrid @ref="ProvidersGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                               Data="@ProvidersList" TItem="ServiceModel.Provider" RowExpand=@GetProviderReferences AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" ExpandMode="Radzen.DataGridExpandMode.Single" AllowGrouping="true" AllowColumnReorder="true" IsLoading="@IsLoadingInProgress">
                <Columns>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="ProviderCode" Title="Código">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="ProviderName" Title="Nombre">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="IdentityType.IdentityTypeCode" Title="Tipo de documento" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="IdentityNumber" Title="Número de documento" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="Phone" Title="Teléfono">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="Fax" Title="Fax" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="Email" Title="Correo electrónico">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="ContactPerson" Title="Contacto">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="ProviderAddress" Title="Dirección">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Property="City.CityId" Title="Ubicación">
                        <Template Context="provider">
                            <span>(@provider.City.Department.Country.CountryCode) @provider.City.Department.DepartmentName - @provider.City.CityName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Provider" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Frozen="true" Groupable="false" Visible="@Security.IsInRole("Admin","Provider Editor")">
                        <Template Context="provider">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Actualizar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Click="@(args => EditProvider(provider))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                          Click=@(args => DeleteProvider(args, provider)) @onclick:stopPropagation="true" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
                <Template Context="provider">
                    <RadzenStack Class="rz-my-8">
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12">
                                <RadzenText Visible="@(provider != null)" Text="Referencias" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" isible="@Security.IsInRole("Admin","Provider Editor")">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                    <RadzenButton Visible="@(provider != null)" Icon="add_circle_outline" Text="Nuevo" Click=@(args => AddProviderReference(args,provider)) />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <LocalizedDataGrid ColumnWidth="80px" Visible="@(provider != null)" @ref=ProviderReferencesDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                           Data="@provider?.ProviderReferences" TItem="ServiceModel.ProviderReference" AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" ExpandMode="Radzen.DataGridExpandMode.Single" AllowGrouping="true" AllowColumnReorder="true" Render="@OnProviderReferenceRender">
                            <Columns>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.Item.Line.LineName" Title="Linea" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.Item.ItemName" Title="Artículo" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.ReferenceCode" Title="Referencia">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.ReferenceName" Title="Nombre">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.ProviderReferenceCode" Title="Referencia proveedor">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.ProviderReferenceName" Title="Nombre referencia proveedor">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.Notes" Title="Notas" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.IsActive" Title="Activo">
                                    <Template Context="itemReference">
                                        <RadzenCheckBox @bind-Value="@itemReference.ItemReference.IsActive" Name="IsActive" Disabled="true"></RadzenCheckBox>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="IsSoldOut" Title="Agotado" Visible="false">
                                    <Template Context="itemReference">
                                        <RadzenCheckBox @bind-Value="@itemReference.ItemReference.IsSoldOut" Name="IsSoldOut" Disabled="true"></RadzenCheckBox>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Property="ItemReference.AlarmMinimumQuantity" Title="Cantidad mínima" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ProviderReference" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Frozen="true" Groupable="false" Visible="@Security.IsInRole("Admin","Provider Editor")">
                                    <Template Context="itemReference">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Shade="Shade.Lighter" Variant="Variant.Flat" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                                      Click=@(args => DeleteProviderReference(args, itemReference)) @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </LocalizedDataGrid>
                    </RadzenStack>
                </Template>
            </LocalizedDataGrid>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
