@using ViewModel = Aldebaran.Web.Pages.ReportPages.Warehouse_Transfers.ViewModel;
@inject Aldebaran.Web.Resources.ISharedStringLocalizer SharedLocalizer

<RadzenColumn SizeMD=12>
    <RadzenTemplateForm TItem="ViewModel.WarehouseTransfersFilter" Data="Filter" Submit="@FormSubmit">
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Bodega de origen" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@Warehouses" TextProperty="WarehouseName" ValueProperty="WarehouseId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="@SourceWarehouseId" Name="SourceWarehouseId">
                            </RadzenDropDown>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Bodega destino" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@Warehouses" TextProperty="WarehouseName" ValueProperty="WarehouseId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="TargetWarehouseId" Name="TargetWarehouseId">
                            </RadzenDropDown>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de inicio de traslado" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentDate.StartDate" Name="AdjustmentStartDate" AllowClear=true Change="()=> Filter.AdjustmentDate.EndDate = Filter.AdjustmentDate.EndDate < Filter.AdjustmentDate.StartDate ? Filter.AdjustmentDate.StartDate : Filter.AdjustmentDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha fin de traslado" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentDate.EndDate" Name="AdjustmentEndDate" AllowClear=true Min="Filter.AdjustmentDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">            
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Número de nacionalización" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Filter.NationalizationNumber" Name="NationalizationNumber" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <MultiReferencePicker @ref="referencePicker" OnChange="ItemReferenceHandler"></MultiReferencePicker>
        </RadzenRow>
        @if (ValidationError)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar al menos un filtro</div>
        }
        <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="filter_alt" Text="Filtrar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>