@page "/customers"
@attribute [Authorize(Roles="Admin,Customer Viwer,Customer Editor")]

<PageTitle>Customers</PageTitle>
<RadzenStack>
    @if (dialogResult != null && dialogResult.Success)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Success">@dialogResult.Message</RadzenAlert>
    }
    @if (dialogResult != null && !dialogResult.Success)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger">@dialogResult.Message</RadzenAlert>
    }
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12">
            <RadzenText Text="Clientes" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeMD="6" Visible="@Security.IsInRole("Admin","Customer Editor")">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddButtonClick" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
        <RadzenColumn SizeMD=12>
            <RadzenDataGrid @ref="grid0" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                            Data="@customers" TItem="Aldebaran.Application.Services.Models.Customer" RowExpand=@GetChildData AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" ExpandMode="Radzen.DataGridExpandMode.Single" AllowGrouping="true" AllowColumnReorder="true" IsLoading="@isLoadingInProgress">
                <Columns>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="CustomerName" Title="Nombre">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="IdentityType.IdentityTypeCode" Title="Tipo de documento" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="IdentityNumber" Title="Número de documento" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="Phone1" Title="Teléfono">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="CellPhone" Title="Celular">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="Phone2" Title="Teléfono opcional" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="Fax" Title="Fax" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="Email1" Title="Correo electrónico">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="Email2" Title="Correo electrónico opcional" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="Email3" Title="Correo electrónico opcional" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="CustomerAddress" Title="Dirección">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="City.CityId" Title="Ubicación">
                        <Template Context="customer">
                            <span>(@customer.City.Department.Country.CountryCode) @customer.City.Department.DepartmentName - @customer.City.CityName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Property="SEND_EMAIL" Title="Enviar correo" Visible="false">
                        <Template Context="customer">
                            <RadzenCheckBox @bind-Value="@customer.SendEmail" Name="SEND_EMAIL" Disabled="true"></RadzenCheckBox>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.Customer" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Frozen="true" Groupable="false" Visible="@Security.IsInRole("Admin","Customer Editor")">
                        <Template Context="customer">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(customer))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                          Click=@(args => GridDeleteButtonClick(args, customer)) @onclick:stopPropagation="true" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
                <Template Context="customer">
                    <RadzenStack Class="rz-my-8">
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12">
                                <RadzenText Visible="@(customer != null)" Text="Contactos" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="6" Visible="@Security.IsInRole("Admin","Customer Editor")">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                    <RadzenButton Visible="@(customer != null)" Icon="add_circle_outline" Text="Nuevo" Click=@(args => CustomerContactsAddButtonClick(args,customer)) />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <RadzenDataGrid ColumnWidth="200px" Visible="@(customer != null)" @ref=CustomerContactsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                        Data="@customer?.CustomerContacts" TItem="Aldebaran.Application.Services.Models.CustomerContact" AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" AllowGrouping="true" AllowColumnReorder="true" IsLoading="@isLoadingInProgress">
                            <Columns>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerContact" Property="TITLE" Title="Tratamiento">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerContact" Property="CUSTOMER_CONTACT_NAME" Title="Nombre">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerContact" Property="PHONE" Title="Teléfono">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerContact" Property="EMAIL" Title="Correo electrónico">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Aldebaran.Application.Services.Models.CustomerContact" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Frozen="true" Groupable="false" Visible="@Security.IsInRole("Admin","Customer Editor")">
                                    <Template Context="customerContactChild">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditChildRow(customerContactChild, customer))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Shade="Shade.Lighter" Variant="Variant.Flat"
                                                      Click=@(args => CustomerContactsDeleteButtonClick(args, customerContactChild)) @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </RadzenStack>
                </Template>
            </RadzenDataGrid>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>