@attribute [Authorize(Roles = "Administrador,Modificación de clientes")]
@using Aldebaran.Web.Shared;
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
    <RadzenColumn SizeMD=12>
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" @bind-Visible="@IsErrorVisible">No se ha podido actualizar el cliente</RadzenAlert>
        <RadzenTemplateForm @ref="customerForm" TItem="Aldebaran.Application.Services.Models.Customer" Data="@Customer" Visible="@(Customer != null)" Submit="@FormSubmit">
            <RadzenStack>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Tipo de documento" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenDropDown Data="@IdentityTypesForSelection" TextProperty="IdentityTypeCode" ValueProperty="IdentityTypeId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                style="display: block; width: 100%" @bind-Value="@Customer.IdentityTypeId" Name="IdentityTypeId" AllowFiltering="true" ClearSearchAfterSelection="true" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="IdentityTypeId" DefaultValue="0" Text="Tipo de documento es requerido" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Número de documento" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.IdentityNumber" Name="IdentityNumber" MaxLength="15" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="IdentityNumber" Text="Número de documento es requerido" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenFormField Text="Nombre" Variant="Variant.Text">
                    <ChildContent>
                        <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.CustomerName" Name="CustomerName" MaxLength="50" />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="CustomerName" Text="Nombre es requerido" />
                    </Helper>
                </RadzenFormField>
                <LocalizationPicker CITY_ID="@Customer.CityId" OnChange="LocalizationHandler" />
                <RadzenRequiredValidator Text="Ubicación requerida" Component="CityId" Style="margin-top: -0.875rem;" />
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Dirección" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.CustomerAddress" Name="CustomerAddress" MaxLength="52" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="CustomerAddress" Text="Dirección es requerida" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="6">
                        <RadzenFormField Text="Celular" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.CellPhone" Name="CellPhone" MaxLength="15" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Teléfono" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.Phone1" Name="Phone1" MaxLength="20" />
                            </ChildContent>
                            <Helper>
                                <RadzenRequiredValidator Component="Phone1" Text="Teléfono es requerido" />
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Teléfono opcional" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.Phone2" Name="Phone2" MaxLength="20" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenFormField Text="Fax" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@Customer.Fax" Name="Fax" MaxLength="22" />
                            </ChildContent>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn Size="12">
                        <RadzenFormField Text="Correo electrónico" Variant="Variant.Text" Style="width: 100%;">
                            <ChildContent>
                                <ChipsInput ShowValidationErrors="false" Chips="@emails" AddChipKeyCode="Space"
                                    CustomValidation="@OnEmailChipValidation"
                                    OnChipsChanged="@OnEmailChipChange">
                                </ChipsInput>
                                <RadzenListBox Style="display:none" @bind-Value="@emails" Data="@emails" Name="Emails" />
                            </ChildContent>
                            <Helper>
                                @if (EmailValidationError.Any()){
                                    @foreach (var error in EmailValidationError){
                                        <div class="rz-message rz-messages-error d-block text-primary-color">@error</div>
                                    }
                                }
                                <RadzenRequiredValidator Component="Emails" Text="Correo electrónico es requerido"></RadzenRequiredValidator>
                            </Helper>
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenRow>                
            </RadzenStack>
            <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </RadzenStack>
        </RadzenTemplateForm>
    </RadzenColumn>
}