@page "/report/inventory"
@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer

<PageTitle>Reporte de inventario</PageTitle>
<RadzenStack Style="gap:0.3em">
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenText Text="Reporte de inventario" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start" class="mb-2">
        <RadzenColumn Size="6">
            <div class="rz-text-align-left d-flex gap-3">
                <RadzenButton Variant="Variant.Text" Icon="filter_alt" Click="@OpenFilters" Text="Filtros" ButtonStyle="ButtonStyle.Secondary" class="text-primary-color p-0 pb-1" />
                @if (Filter != null)
                {
                    <RadzenButton Variant="Variant.Text" Click="@RemoveFilters" Text="Limpiar filtros" ButtonStyle="ButtonStyle.Secondary" class="text-decoration-underline p-0 pb-1" />
                }
            </div>
            <div class="component-section d-flex flex-column justify-content-start text-secondary-color">
                @if (Filter != null)
                {
                    <div class="component-section d-flex flex-column justify-content-start pt-2">
                        @if (Filter.ItemReferences.Any())
                        {
                            <p class="component-label m-0 fw-bold">Referencias: </p>
                            @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                            {
                                <span class="@(i>=2 ? "read-more" : "")" style="@(i>=2 ? "display: none" : "")">[@Filter.ItemReferences[i].Item.InternalReference] (@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</span>
                            }
                            @if (Filter.ItemReferences.Count() > 2)
                            {
                                <div>
                                    <a href="javascript:;" id="toggleLink" @onclick="ToggleReadMore">Ver más</a>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </RadzenColumn>
        <RadzenColumn Size="6" class="align-self-end">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.End" Gap="0.5rem">
                <RadzenSplitButton Icon="build" Text="Acciones" Click="@Save" Variant="Variant.Flat" Shade="Shade.Lighter" IsBusy="@IsBusy" Disabled="ViewModel==null">
                    <RadzenSplitButtonItem Text="Imprimir" Icon="print" Value="print" Style="cursor:pointer" />
                    <RadzenSplitButtonItem Text="Guardar PDF" Icon="picture_as_pdf" Value="save" Style="cursor:pointer" />
                </RadzenSplitButton>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow AlignItems="AlignItems.Start">
        <RadzenColumn Size="12">
            <RadzenCard style="min-height:600px; overflow-y:auto; position:relative">
                <div id="inventory-report-container">
                    <div class="report">
                        <table class="mt-1">
                            <tr>
                                <td width="50%">
                                    <h2 class="text-left mb-0">Inventario</h2>
                                    <span class="mb-1">@DateTime.Now.ToString(SharedLocalizer["datetime:format"])</span>
                                </td>
                                <td width="50%">
                                    @if (Filter != null)
                                    {
                                        <div class="filters">
                                            <div class="title">Filtros:</div>
                                            <div>
                                                @if (Filter.ItemReferences.Any())
                                                {
                                                    <div style="display:flex; flex-direction:column; justify-content:end">
                                                        <div class="type">Referencias: </div>
                                                        @for (int i = 0; i < Filter.ItemReferences.Count(); i++)
                                                        {
                                                            <span class="@(i>=2 ? "read-more-page" : "")" style="@(i>=2 ? "display: none" : "")"> [@Filter.ItemReferences[i].Item.InternalReference] (@Filter.ItemReferences[i].Item.Line.LineName) @Filter.ItemReferences[i].Item.ItemName - @Filter.ItemReferences[i].ReferenceName</span>
                                                        }
                                                        @if (Filter.ItemReferences.Count() > 2)
                                                        {
                                                            <div>
                                                                <a href="javascript:;" id="toggleLinkPage" @onclick="ToggleReadMorePage">Ver más</a>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                        <LoadingData IsLoadingData="@IsLoadingData" />
                        @if (ViewModel != null)
                        {
                            @if (ViewModel.Lines?.Any() == true)
                            {
                                <table class="edged mt-1">
                                    <tbody>
                                        @foreach (var line in ViewModel.Lines)
                                        {
                                            <tr>
                                                <td width="100%" style="padding:0 !important">
                                                    <p class="title">@line.LineName</p>
                                                </td>
                                            </tr>
                                            @for (int i = 0; i < line.Items.Count; i++)
                                            {
                                                var item = line.Items[i];
                                                <tr>
                                                    <td width="100%" class="m-0 p-0">
                                                        <div class="p-2">
                                                            <table class="edged m-0">
                                                                <thead>
                                                                    <tr>
                                                                        <td colspan="3" width="50%">
                                                                            <div style="padding-bottom:0.5rem !important">
                                                                                <h3 title="Click para ver imagen" @onclick="@(args => ShowImageDialog($"[{item.InternalReference}] {item.ItemName}"))"                                                                                    
                                                                                    style="cursor: pointer;"
                                                                                    class="text-left m-0">@item.ItemName</h3>                                                                                
                                                                                <p class="m-0">
                                                                                    Referencia interna: @item.InternalReference
                                                                                </p>
                                                                            </div>
                                                                        </td>
                                                                        <td colspan="4" width="50%" class="border-left-1">
                                                                            <div style="padding-bottom:0.5rem !important">
                                                                                <h3 class="text-left mb-0">ARTICULOS EN TRANSITO</h3>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th width="20%">
                                                                            <b>Referencia</b>
                                                                        </th>
                                                                        <th width="15%">
                                                                            <b>DISPONIBLE</b>
                                                                            <p class="m-0"><small>Total para la venta</small></p>
                                                                        </th>
                                                                        <th width="15%">
                                                                            <b>ZONA FRANCA</b>
                                                                            <p class="m-0"><small>Entrega aprx 4-5 dias</small></p>
                                                                        </th>
                                                                        <th width="10%" class="border-left-1">
                                                                            <b>Fecha</b>
                                                                        </th>
                                                                        <th width="10%">
                                                                            <b>Bodega</b>
                                                                        </th>
                                                                        <th width="10%">
                                                                            <b>Total</b>
                                                                        </th>
                                                                        <th width="20%">
                                                                            <b>Actividades</b>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (int r = 0; r < item.References.Count; r++)
                                                                    {
                                                                        var reference = item.References[r];
                                                                        var odd = (r + 1) % 2 != 0;
                                                                        <tr style='@(odd?"background: #f5f5f5;":"")'>
                                                                            <td width="20%" rowspan="@(reference.PurchaseOrders.Any()?reference.PurchaseOrders.Count()+1: 2)">
                                                                                @reference.ReferenceName
                                                                            </td>
                                                                            <td width="15%" rowspan="@(reference.PurchaseOrders.Any()?reference.PurchaseOrders.Count()+1: 2)">
                                                                                @reference.AvailableAmount.ToString("N0")
                                                                            </td>
                                                                            <td width="15%" rowspan="@(reference.PurchaseOrders.Any()?reference.PurchaseOrders.Count()+1: 2)">
                                                                                @reference.FreeZone.ToString("N0")
                                                                            </td>
                                                                        </tr>

                                                                        @if (!reference.PurchaseOrders.Any())
                                                                        {
                                                                            <tr class="m-0 p-0">
                                                                                <td width="100%" colspan="4" class="m-0 p-0"></td>
                                                                            </tr>
                                                                        }

                                                                        @for (int p = 0; p < reference.PurchaseOrders.Count(); p++)
                                                                        {
                                                                            var purchaseOrder = reference.PurchaseOrders[p];
                                                                            <tr style='@(odd?"background: #f5f5f5;":"")'>
                                                                                <td width="10%">@purchaseOrder.Date?.ToString(SharedLocalizer["date:format"])</td>
                                                                                <td width="10%">@purchaseOrder.Warehouse</td>
                                                                                <td width="10%">@purchaseOrder.Total.ToString("N0")</td>
                                                                                <td width="20%">
                                                                                    @foreach (var purchaseOrderActivity in purchaseOrder.Activities)
                                                                                    {
                                                                                        <p>@purchaseOrderActivity.Date?.ToString(SharedLocalizer["date:format"])</p>
                                                                                        <p>@purchaseOrderActivity.Description</p>
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <div class="no-data-container">
                                    <h4>@SharedLocalizer["report:no-data"]</h4>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="no-data-container">
                                <h4>@SharedLocalizer["report:unfiltered"]</h4>
                            </div>
                        }
                    </div>
                </div>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>