@using ViewModel = Aldebaran.Web.Pages.ReportPages.Inventory_Adjustments.ViewModel;
@inject Aldebaran.Web.Resources.ISharedStringLocalizer SharedLocalizer

<RadzenColumn SizeMD=12>
    <RadzenTemplateForm TItem="ViewModel.InventoryAdjustmentsFilter" Data="Filter" Submit="@FormSubmit">
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="12">
                <RadzenStack>
                    <RadzenFormField Text="Número del ajuste" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenNumeric Min="0" style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentId" Name="AdjustmentId" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de creación inicial" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.CreationDate.StartDate" Name="CreationStartDate" AllowClear=true Change="()=> Filter.CreationDate.EndDate = Filter.CreationDate.EndDate < Filter.CreationDate.StartDate ? Filter.CreationDate.StartDate : Filter.CreationDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de creación final" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.CreationDate.EndDate" Name="CreationEndDate" AllowClear=true Min="Filter.CreationDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de ajuste inicial" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentDate.StartDate" Name="AdjustmentStartDate" AllowClear=true Change="()=> Filter.AdjustmentDate.EndDate = Filter.AdjustmentDate.EndDate < Filter.AdjustmentDate.StartDate ? Filter.AdjustmentDate.StartDate : Filter.AdjustmentDate.EndDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Fecha de ajuste final" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDatePicker DateFormat="@SharedLocalizer["date:format"]" style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentDate.EndDate" Name="AdjustmentEndDate" AllowClear=true Min="Filter.AdjustmentDate.StartDate" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Tipo de ajuste" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@AdjustmentsTypes" TextProperty="AdjustmentTypeName" ValueProperty="AdjustmentTypeId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentTypeId" Name="AdjustmentTypeId"
                                            AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack>
                    <RadzenFormField Text="Motivo del ajuste" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDown Data="@AdjustmentsReasons" TextProperty="AdjustmentReasonName" ValueProperty="AdjustmentReasonId" AllowClear=true FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            style="display: block; width: 100%" @bind-Value="@Filter.AdjustmentReasonId" Name="AdjustmentReasonId"
                                            AllowFiltering="true" ClearSearchAfterSelection="true" />
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <RadzenColumn Size="12">
                <RadzenStack>
                    <RadzenFormField Text="Seleccione un empleado" Variant="Variant.Text" Style="width: 100%;">
                        <ChildContent>
                            <RadzenDropDownDataGrid Data="@Employees" TextProperty="FullName" ValueProperty="EmployeeId" AllowClear=true
                                                    style="display: block; width: 100%" @bind-Value="@Filter.EmployeeId" Name="EmployeeId"
                                                    FilterCaseSensitivity="Radzen.FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="IdentityType.IdentityTypeName" Title="Documento">
                                        <Template Context="employee">
                                            <span>@employee.IdentityType.IdentityTypeCode.Trim(). @employee.IdentityNumber</span>
                                        </Template>
                                    </RadzenDropDownDataGridColumn>
                                    <RadzenDropDownDataGridColumn Property="FullName" Title="Nombre completo" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </ChildContent>
                    </RadzenFormField>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow style="margin-bottom: 1rem">
            <MultiReferencePicker @ref="referencePicker" OnChange="ItemReferenceHandler"></MultiReferencePicker>
        </RadzenRow>
        @if (ValidationError)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar al menos un filtro</div>
        }
        @if (ValidationCreationDate)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar fecha creacion inicial y fecha de cración final</div>
        }
        @if (ValidationAdjusmentDate)
        {
            <div class="rz-message rz-messages-error">Debe seleccionar fecha de ajuste inicial y fecha de ajuste final</div>
        }
        <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="filter_alt" Text="Filtrar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@IsSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>
