@attribute [Authorize(Roles="Admin,Forwarder Editor")]

<PageTitle>Nuevo agente</PageTitle>
<RadzenColumn SizeMD=12>
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">No se ha podido crear el agente</RadzenAlert>
    <RadzenTemplateForm TItem="Aldebaran.Web.Models.AldebaranDb.ForwarderAgent" Data="@forwarderAgent" Visible="@(forwarderAgent != null)" Submit="@FormSubmit">
        <RadzenStack>
            <div class="flex-shrink-0">
                <div class="text-primary-color" style="font-size: 16px">
                    <RadzenLabel Text="Transportadora: " Style="font-weight: bold" />
                    <RadzenLabel Text="@forwarder.FORWARDER_NAME" />
                </div>
                <div class="text-secondary-color">
                    <RadzenLabel Text="Ubicación: " />
                    <span>(@city.Department.Country.COUNTRY_CODE) @city.Department.DEPARTMENT_NAME - @city.CITY_NAME</span>
                </div>
            </div>
            <RadzenFormField Text="Nombre" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.FORWARDER_AGENT_NAME" Name="FORWARDER_AGENT_NAME" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="FORWARDER_AGENT_NAME" Text="Nombre es requerido" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Teléfono" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.PHONE1" Name="PHONE1" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="PHONE1" Text="Teléfono es requerido" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Teléfono opcional" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.PHONE2" Name="PHONE2" />
                </ChildContent>
            </RadzenFormField>
            <RadzenFormField Text="Fax" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.FAX" Name="FAX" />
                </ChildContent>
            </RadzenFormField>
            <RadzenFormField Text="Dirección" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.FORWARDER_AGENT_ADDRESS" Name="FORWARDER_AGENT_ADDRESS" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="FORWARDER_AGENT_ADDRESS" Text="Dirección es requerida" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Contacto" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.CONTACT" Name="CONTACT" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="CONTACT" Text="Contacto es requerido" />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Correo electrónico" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.EMAIL1" Name="EMAIL1" />
                </ChildContent>
            </RadzenFormField>
            <RadzenFormField Text="Correo electrónico opcional" Variant="Variant.Text">
                <ChildContent>
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@forwarderAgent.EMAIL2" Name="EMAIL2" />
                </ChildContent>
            </RadzenFormField>
            <LocalizationPicker OnChange="LocalizationHandler" />
            <RadzenRequiredValidator Text="Ubicación requerida" Component="CITY_ID" Style="margin-top: -0.875rem;" />
        </RadzenStack>
        <RadzenStack style="margin-top:1rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
            <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" Variant="Variant.Flat" BusyText="Procesando..." IsBusy="@isSubmitInProgress" />
            <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancelar" Variant="Variant.Flat" Click="@CancelButtonClick" />
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenColumn>

