@page "/forwarders"
@attribute [Authorize(Roles = "Administrador,Consulta de agentes de transporte,Modificación de agentes de transporte")]
@using Aldebaran.Web.Resources.LocalizedControls;
@using ServiceModel = Aldebaran.Application.Services.Models;

<PageTitle>Transportadoras</PageTitle>
<LoadingData IsLoadingData="@isLoadingInProgress" />

@if (!isLoadingInProgress)
{
<RadzenStack>
    <RadzenRow AlignItems="AlignItems.Center">
        <RadzenColumn Size="12">
            <RadzenText Text="Transportadoras" TextStyle="TextStyle.H4" TagName="TagName.H1" style="margin: 0" />
        </RadzenColumn>
        <RadzenColumn Size="12" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte")">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                <RadzenButton Icon="add_circle_outline" Text="Nuevo" Click="@AddForwarder" Variant="Variant.Flat" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTextBox Placeholder="Buscar ..." style="display: block; width: 100%" @oninput="@Search" />
    <RadzenRow>
        <RadzenColumn SizeMD=12>
            <LocalizedDataGrid @ref="ForwardersDataGrid" ColumnWidth="200px" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                               Data="@ForwardersList" TItem="ServiceModel.Forwarder" RowExpand=@GetForwarderAgents AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" ExpandMode="Radzen.DataGridExpandMode.Single" AllowColumnReorder="true" IsLoading="@isLoadingInProgress">
                <Columns>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="ForwarderName" Title="Nombre">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="Phone1" Title="Teléfono">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="Phone2" Title="Teléfono opcional" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="Fax" Title="Fax" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="ForwarderAddress" Title="Dirección">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="Mail1" Title="Correo electrónico">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="Mail2" Title="Correo electrónico opcional" Visible="false">
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Property="City.CityId" Title="Ubicación">
                        <Template Context="forwarder">
                            <span>(@forwarder.City.Department.Country.CountryCode) @forwarder.City.Department.DepartmentName - @forwarder.City.CityName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ServiceModel.Forwarder" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Groupable="false" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte")" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                        <Template Context="forwarder">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Actualizar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Click="@(args => EditForwarder(forwarder))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Shade="Shade.Lighter" Variant="Variant.Flat"
                                          Click=@(args => DeleteForwarder(args, forwarder)) @onclick:stopPropagation="true" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
                <Template Context="forwarder">
                    <RadzenStack Class="rz-my-8">
                        <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                            <RadzenColumn Size="12">
                                <RadzenText Visible="@(forwarder != null)" Text="Agentes" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte")">
                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                    <RadzenButton Visible="@(forwarder != null)" Icon="add_circle_outline" Text="Nuevo" Click=@(args => AddForwarderAgent(args,forwarder)) />
                                </RadzenStack>
                            </RadzenColumn>
                        </RadzenRow>
                        <LocalizedDataGrid ColumnWidth="200px" Visible="@(forwarder != null)" @ref=ForwarderAgentsDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                           Data="@forwarder?.ForwarderAgents" RowExpand=@GetShipmentForwarderAgentMethods TItem="ServiceModel.ForwarderAgent" AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" ExpandMode="Radzen.DataGridExpandMode.Single" AllowColumnReorder="true" IsLoading="@isLoadingInProgress">
                            <Columns>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="ForwarderAgentName" Title="Nombre">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="Phone1" Title="Teléfono">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="Phone2" Title="Teléfono opcional" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="Fax" Title="Fax" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="ForwarderAgentAddress" Title="Dirección">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="Contact" Title="Contacto">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="Email1" Title="Correo electrónico">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="Email2" Title="Correo electrónico opcional" Visible="false">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Property="City.CityId" Title="Ubicación">
                                    <Template Context="forwarderAgent">
                                        <span>(@forwarderAgent.City.Department.Country.CountryCode) @forwarderAgent.City.Department.DepartmentName - @forwarderAgent.City.CityName</span>
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="ServiceModel.ForwarderAgent" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Groupable="false" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte")" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                    <Template Context="forwarderAgent">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" MouseEnter="@(args => ShowTooltip(args,"Actualizar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                                      Click="@(args => EditForwarderAgent(forwarderAgent,forwarder))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Shade="Shade.Lighter" Variant="Variant.Flat" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                                      Click=@(args => DeleteForwarderAgent(args, forwarderAgent)) @onclick:stopPropagation="true" />
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                            <Template Context="shipmentMethod">
                                <RadzenStack Class="rz-my-8">
                                    <RadzenRow Gap="0" AlignItems="AlignItems.Center">
                                        <RadzenColumn Size="12">
                                            <RadzenText Visible="@(ForwarderAgent != null)" Text="Método de envío" TextStyle="TextStyle.H4" TagName="TagName.H2" style="margin: 0" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte")">
                                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0.5rem">
                                                <RadzenButton Visible="@(ForwarderAgent != null)" Icon="add_circle_outline" Text="Nuevo" Click=@(args => AddShipmentForwarderAgentMethod(args,ForwarderAgent)) />
                                            </RadzenStack>
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <LocalizedDataGrid ColumnWidth="200px" Visible="@(ForwarderAgent != null)" @ref=ShipmentForwarderAgentMethodDataGrid AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" ShowPagingSummary="true" PageSizeOptions=@(new int[]{5, 10, 20, 30})
                                                       Data="@ForwarderAgent?.ShipmentForwarderAgentMethods" TItem="ServiceModel.ShipmentForwarderAgentMethod" AllowColumnPicking="true" AllowColumnResize="true" AllowMultiColumnSorting="true" EditMode="Radzen.DataGridEditMode.Single" ExpandMode="Radzen.DataGridExpandMode.Single" AllowColumnReorder="true" IsLoading="@isLoadingInProgress">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="ServiceModel.ShipmentForwarderAgentMethod" Property="ShipmentMethod.ShipmentMethodName" Title="Método de envío">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="ServiceModel.ShipmentForwarderAgentMethod" Property="ShipmentMethod.ShipmentMethodNotes" Title="Descripción">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="ServiceModel.ShipmentForwarderAgentMethod" Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center" Pickable="false" Reorderable="false" Groupable="false" Visible="@Security.IsInRole("Administrador","Modificación de agentes de transporte")" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                <Template Context="shipmentForwarderAgent">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium" Shade="Shade.Lighter" Variant="Variant.Flat" MouseEnter="@(args => ShowTooltip(args,"Eliminar", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                                                  Click=@(args => DeleteShipmentForwarderAgentMethod(args, shipmentForwarderAgent)) @onclick:stopPropagation="true" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                    </LocalizedDataGrid>
                                </RadzenStack>
                            </Template>
                        </LocalizedDataGrid>
                    </RadzenStack>
                </Template>
            </LocalizedDataGrid>
        </RadzenColumn>
    </RadzenRow>
</RadzenStack>
}